/* bootstrap-tagsinput.css file - add in local */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.hasTable{
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: #009efb; 
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-right: 5px;
}

.elt-margin{
    margin-top: 10px;
    margin-left: 6px;
}

.title-stats{
  font-size: 22px;
}

.panelAdmin-1{
  background: darkgreen;
}

.panelAdmin-1 .title{
  color: white;
}

.piedPanel-1{
  color: white !important;
  background-color: #209802 !important;
}

.panelAdmin-2{
  background: darkblue;
}

.panelAdmin-2 .title{
  color: white;
}

.piedPanel-2{
  color: white !important;
  background-color: #0c84e4 !important;
}

.panelAdmin-3{
  background: darkmagenta;
}

.panelAdmin-3 .title{
  color: white;
}

.piedPanel-3{
  color: white !important;
  background-color: violet !important;
}

.panelAdmin-4{
  background: darkred;
}

.panelAdmin-4 .title{
  color: white;
}

.piedPanel-4{
  color: white !important;
  background-color: orangered !important;
}

.label-purple{
  background: violet; /* comment*/
}

.panelAdmin-5{
  background: #FF9800;
}

.panelAdmin-5 .title{
  color: white;
}

.piedPanel-5{
  color: white !important;
  background-color: orangered !important;
}

.panelAdmin-6{
  background: #009688;
}

.panelAdmin-6 .title{
  color: white;
}

.piedPanel-6{
  color: white !important;
  background-color: #00BCD4 !important;
}

.panelAdmin-7{
  background: #607D8B;
}

.panelAdmin-7 .title{
  color: white;
}

.piedPanel-7{
  color: white !important;
  background-color: #98a6ad !important;
}

.label-grey{
  background: #2b2424;
}

.panelAdmin-8{
  background: #2b2424;
}

.panelAdmin-8 .title{
  color: white;
}

.piedPanel-8{
  color: white !important;
  background-color: #795548 !important;
}

.label-marron{
  background: #795548;
}

.panelAdmin-9{
  background: #6f650d;
}

.panelAdmin-9 .title{
  color: white;
}

.piedPanel-9{
  color: white !important;
  background-color: yellowgreen !important;
}

.label-marron{
  background: #795548;
}

.label-vert{
  background: #9acd32;
}

.panelAdmin-10{
  background: black;
}

.panelAdmin-10 .title{
  color: white;
}

.piedPanel-10{
  color: white !important;
  background-color: #484343 !important;
}

.label-noir{
  background: #650303;
}

div[class*='piedPanel-'],div[class*='piedPanel-'] a{
  color: white;
  font-weight: 900;
}


.stats:hover{
    background: darkblue !important;
    color: white !important;
    font-size: 26px;
    box-shadow: 7px 9px 9px #00008b6b;
}

.stats td{
    border-bottom: 1px solid #0000003b !important;
}

#error{
  display: none;
}