{% extends 'home.html.twig' %}

{% block title %}
    Intégrations et APIs | {{parent()}}
{% endblock %}

{% block tete %}
    <div class="col-md-12">
        <h2 class="">Intégrations des contenus et APIs <img height="200" src="https://i.pinimg.com/originals/d3/a7/16/d3a71682e44769c11fdf2f7a9e64f7d0.jpg" class="img"></h2>   
        <p>Copier le lien diffusion de vos campagne et servez-vous de ce lien pour générer des outils d'intégration pour votre site web ou vos applications</p>
        <p class="text-center"><i style="color:red"> Ces codes ne s'utilisent que dans les pages HTML</i></p>
    </div>
{% endblock tete %}

{% block body %}
    <div class="col-md-10">
        <label>URL de votre campagne</label>
        <input type="text" name="url_campagne" class="form-control url_campagne" placeholder="Coller l'URL de votre campagne ici *">
    </div>
    <div class="col-md-2">
        <label>Actualisez</label>
        <button onclick="loadApis()" class="btn btn-primary"> <i class="fa fa-refresh"></i> Générer les APIs</button>
    </div>
    <hr>
    <div class="panel-body">
        <div class="col-md-6">
            <h2 class="apiTitle">Utiliser nos <a href="">{{app_name}}</a> boutons</h2>
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <label>Couleur du bouton</label>
                    <input type="color" class="form-control" value="#ff0007" id="couleur" name="couleur">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Texte du bouton</label>
                    <input type="text" class="form-control" value="Faire un don" id="texte-lien" name="don">
                </div>
            </div>
            <div class="row mb-3 mt-2">
                <div class="col-md-6 mb-3">  
                    <button onclick="apercuButton()" class="btn btn-primary"> <i class="fa fa-eye"></i> Voir l'aperçu</button>
                </div>
                <div class="col-md-6 zoneCopie">
                    <style type="text/css">
                    #{{app_name}}:hover{
                        background: #202020 !important;
                    }
                    </style>
                    <a href="" id="{{app_name}}" class="apercuLien" style="
                    padding: 12px !important;
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                    background: #ff0007;
                    color: white !important;
                    font-weight: 700 !important;
                    border-radius: 20px !important;
                    box-shadow: -1px 6px 16px 1px grey !important;
                    text-decoration: none !important;
                    ">Faire un don</a>
                </div>
            </div>
            <div class="col-md-12"  style="background:#f1f1f1;height:200px;border:1px solid grey;font-family: inherit;
            font-style: italic;overflow-y:scroll">
            <xmp  id="zoneDest" style="text-align:left"><!-- Copier le code (Tout ceci) --></xmp>
        </div>
    </div>
    <div class="col-md-6" style="border-left: 2px solid;">
        <h2 class="apiTitle">Utiliser du contenu embarqué</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>Largeur</label>
                <input type="number" id="largeur" class="form-control" placeholder="Largeur en Pixel" name="">
            </div>
            <div class="col-md-4 mb-3">
                <label>Hauteur</label>
                <input type="number" id="hauteur" class="form-control" placeholder="Hauteur en Pixel" name="">
            </div>
            <div class="col-md-4 mb-3">
                <label>Aperçu</label>
                <button onclick="apercuEmbarque()" class="btn btn-primary"> <i class="fa fa-eye"></i> Voir l'aperçu</button>
            </div>
            <div class="col-md-12 mb-3">
                <div class="col-md-12"  style="background:#f1f1f1;border:1px solid grey;font-family: inherit;
                font-style: italic;overflow-y:scroll">
                <xmp  id="zoneDestCode" style="text-align:left"><!-- Copier le code (Tout ceci) --></xmp>
            </div>
            <div class="col-md-12 mt-2" id="zoneCodeP">
                <iframe id="zoneCode" src="" height="" width=""></iframe>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
function apercuButton(argument) {
    lien = $('.url_campagne').val();
    couleur = $('#couleur').val();
    texteLien = $('#texte-lien').val();
    $('.apercuLien').text(texteLien);
    $('.apercuLien').css('background-color', couleur);
    $('#zoneDest').text($('#zoneDest').text() + $('.zoneCopie').html());
}
function apercuEmbarque(argument) {
    lien = $('.url_campagne').val();
    largeur = $('#largeur').val();
    hauteur = $('#hauteur').val();
    $('#zoneCode').attr('src', lien);
    $('#zoneCode').attr('height', hauteur);
    $('#zoneCode').attr('width', largeur);
    $('#zoneDestCode').text($('#zoneDestCode').text() + $('#zoneCodeP').html());
}

function loadApis(){
    apercuButton();
    apercuEmbarque();
}
</script>
{% endblock %}
