{% extends 'mails/layout.html.twig' %}

{% block content %}
	<style type="text/css">
		th, td{
			padding:5px;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom: 1px solid grey;
			border-left: 1px solid grey;
			border-right: 1px solid grey;
		}
		table{
			width: 100%;
    		text-align: center;
		    font-size: 15px;
		}
		thead{
		    background: #631546;
			color: white;
		}
	</style>
<p style="font-family: Sans-serif; font-size: 16px; margin-top: -30px;">
	{{contenu | raw}}
    <h3 style="color:red">{% if nonPaye %} En attente de paiement {% endif %}</h3>
    <h3 style="color:green">{% if nonPaye == null %} PAIEMENT EFFECTUE {% endif %}</h3>
	<table   class="table-commande" >
        <thead class="tete-commande">
            <tr>
                <th>Ref.</th>
                <th>Qte.</th>
                <th>Facturé le</th>
                <th>Formule</th>
                <th>Couvert?</th>
                <th>Montant TTC</th>
                <th>Retrait le</th>
                <th>Heure</th>
            </tr>
        </thead>
        <tbody>
        {% set num = 1 %}
    	{% set total = 0 %}
        {% for commande in commandes %}
            <tr>
                 <td>
                    <a title="Cliquez pour voir les détails" class="" href="#">
                        SLAD#{{ commande.id + 100 }}
                    </a>
                </td>
                <td>
                    {{commande.quantite}}
                </td>
                <td>
                    {{commande.date | date('d/m/Y')}}
                </td>
                <td>
                    {% if commande.formule %}
                        {{commande.formule}}
                        <br><b>Composition</b>:
                        <ul style="text-align: left;">
                        	{% for element in commande.elements  %}
                        		<li>{{element.nom}}</li>
                    		{% endfor %}
                        </ul>
                    {% else %}
                        à la carte
                        <table>
                        	<tr>
                        		<th>Qte.</th>
                        		<th>Désignation</th>
                        	</tr>
                        	{% for element in commande.elements  %}
	                    		<tr>
	                    			<td>{{element.quantite}}</td>
	                    			<td>{{element.nom}}</td>
	                    		</tr>
                    		{% endfor %}
                        </table>
                    {% endif %}
                </td>
                <td>
                    {% if commande.emballer %}
                        <span class="label label-success">Oui</span> 
                    {% else %}
                        <span class="label label-danger">Non</span> 
                    {% endif %}
                </td>
                <td class="">
                   {{commande.prixTotal | number_format(2)}} €

                   {% set total = total +  commande.prixTotal %}
                </td>
                <td>
                    {{commande.dateRetrait | date('d/m/Y')}}
                </td>
                <td>
                    {{commande.heureRetrait | date('H:i')}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Montant total: <b>{{total | number_format(2)}} €</b></h3>
    <hr>
	<i style="color: #e03333; font-size: 12px">
		Si vous n'êtes pas à l'origine de cette action, ignorez tout simplement ce mail. 
	</i>
</p>
{% endblock content %}