<!DOCTYPE html>
<html>
<head>
	<title>KOKA, transfert d'argent</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
	<style type="text/css">
		body{
			font-family: Raleway !important;
		}
	</style>
</head>
<body>
	<div style="width: 600px; 
				text-align: justify;
				border: 1px solid #094071;
				font-family: raleway">
		<div style="
		    padding: 15px;
		    background: #607d8b;
		    margin-bottom: 10px;
		    color: white;">
			<center>
				<img width="180" src="https://socollect.org/admin/assets/img/find_user.png">
			</center>
			<h3 style="">
				<center>Gestion des Dons, CrowdFundings, contributions et adhésions</center>
			</h3>
		</div>
		<div style="padding: 10px;margin-top: 25px;">
			<div style="text-align:center !important">
				{% block content %}

				{% endblock content%}
			</div>
			<br>
			<br>
			<i style="color: orangered"><b>Bon à savoir :</b> Si vous n'êtes pas à l'origine de cette demande, ne prenez pas en compte cet email.
	        </i>
	        <br>

			<div style="
				background: #607d8b;
			    color: white;
			    padding: 10px;
			    margin-top: 10px;">
				<center>© 2021 By Themis-It Technologies Team</center>
			</div>
		</div>
	</div>
</body>
</html>