{% extends 'mails/layout.html.twig' %}

{% block content %}
<div style="font-family: Raleway !important; font-size: 16px; margin-top: -30px;">
	<h3>Bonjour {{ user | upper }} !</h3>
	<p>
		Votre compte a été créé avec succès. Validez votre compte en cliquant sur le lien ci-dessous.
	</p>
    <a href="{{ app.request.getSchemeAndHttpHost() }}{{confirmationUrl}}">{{ app.request.getSchemeAndHttpHost() }}{{confirmationUrl}}</a>
	<br>
</div>
{% endblock content %}