{% extends 'mails/layout.html.twig' %}

{% block content %}
<div style="font-family: Sans-serif; font-size: 16px; margin-top: -30px;">
	<h3>Bonjour {{ user.nom | upper }} !</h3>
	<center>
		<h1 style="color:red">NON PAYE</h1>
	</center>
	<p>
		Problème lors du traitement de l'envoi de <span style="color:green;font-weight:bold">{{transfert.montant}}{{transfert.devise}}</span> à <span style="color:orangered;font-weight:bold">{{transfert.recepteur}}</span>
	</p>
	<span style="border: 1px solid red;text-align: justify;">
		<u>Détails sur le problème:</u>
		<span style="color:red">Commentaire: <b>{{transfert.commentaire}}</b></span>
	</span>
	<p>Vous pouvez consulter l'état de traitement en vous rendant sur le menu <span>"Mon Historique" ou "Mes tranferts initiés"</span> de votre application.</p>
</div>
{% endblock content %}