{% extends 'mails/layout.html.twig' %}

{% block content %}
<div style="font-family: Sans-serif; font-size: 16px; margin-top: -30px;">
	<h3>Bonjour {{ user.nom | upper }} !</h3>
	<center>
		<h1 style="color:green">PAYE</h1>
	</center>
	<p>
		Fin du traitement de l'envoi de <span style="color:green;font-weight:bold">{{transfert.montant}}{{transfert.devise}}</span> à <span style="color:orangered;font-weight:bold">{{transfert.recepteur}}</span>
	</p>
	<ul style="border: 1px solid green;text-align: justify;">
		<u>Informations de paiement</u>
		<li>Commentaire: {{transfert.commentaire}}</li>
		<li><a target="_blank" href="{{asset('Uploads/Captures/')}}{{ transfert.capture }}"><i class="btn btn-purple fa fa-search"></i> Voir la capture</a></li>
	</ul>
	<p>Vous pouvez consulter l'état de traitement en vous rendant sur le menu <span>"Mon Historique" ou "Mes tranferts terminés"</span> de votre application.</p>
</div>
{% endblock content %}