{% trans_default_domain 'FOSUserBundle' %}

<div class="panel-body">
    <div class="">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mon profil</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mes documents</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Informations bancaires</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Mes versements</a></li>
            </ul>

          <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <p>Pays: <strong>{{ user.pays  }}</strong></p>
                            <p>Ville (Adresse): <strong>{{ user.adresse  }}</strong></p>
                            <p>{{ 'profile.show.email'|trans }}: <b>{{ user.email }}</b></p>
                            <p>Login: <strong>{{ user.username  }}</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <p>Nom complet: <strong>{{ user.nom  }}</strong></p>
                            <p>Téléphone: <strong>{{ user.telephone }}</strong></p>
                            <p>Type d'utilisateur: <strong>{{ user.typeCompte }}</strong></p>
                        </div>
                        <div class="col-md-12">
                            <a style="margin-top:10px" class="btn btn-primary btn-custom waves-effect waves-light" href="{{path('profil_edit', {'id': user.id })}}">Modifier mon profil</a>
                            <a style="margin-top:10px" class="btn btn-inverse btn-custom waves-effect waves-light" href="{{path('fos_user_change_password')}}">Modifier mon mot de passe</a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">2</div>
                <div role="tabpanel" class="tab-pane" id="messages">3</div>
                <div role="tabpanel" class="tab-pane" id="settings">4</div>
            </div>
        </div>
    </div>
</div>

<script>
    var modif = getQueryVariable('modif');
    if (modif) {
        alert("Modification éffectuée avec succès. \n\nCliquez sur 'Ok' pour terminer.");
    }
</script>
