{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Mon compte
        </h2>   
        <h5>Gérer vos informations personnelles, vos documents, vos coordonnées bancaires et vos identifiants. Vous pouvez également paramétrer vos coordonnées bancaires pour les retraits ou demande de versement.</h5>
    </div>
{% endblock tete %}

{% block menu %}
    {% include 'partial/menus/menu_general.html.twig' with {applications : null} %} 
{% endblock %} 


{% block body %}
    {% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock body%}
