{% extends 'partial/paiement/layout.html.twig' %}
{% block content %}
<div class="full row">
  	<div class="row">
    	<div class="label-perso">
	      	Transfert de <span class="mont">{{montant | number_format(2)}} {{devise}} </span>
	        <br>
	        {% if devise != saDevise %}
	        	( <span class="curr" style="color: black;">{{sonMontant | number_format(2)}} {{saDevise}}</span> )
	        <br>
	        {% endif %}
	        <center style="font-size:17px">
	          A <br><span class="label-perso-2">{{beneficiaire}}</span>
	        </center>
    	</div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 margin_top_10">
    	<div class="col-md-12">
			<center>
				<span style="">Le transfert KOKA vers KOBA utilise votre réserve de fonds et est gratuit.</span>
				<br>
				<br>
			</center>
			<button class="submit_bt">
				<a style="color:white" href="{{path('send_peer_to_peer', {'montant':montant | number_format(2), 'emailRecept':beneficiaire.email})}}" class=""><i class="fa fa-check"></i> Valider le transfert</a>
			</button>
		</div>
	</div>
</div>

{% endblock content%}