{% extends 'index.html.twig' %}

{% block haut %}
{% endblock haut %}

{% block content %}
<div class="full row">
	  <div class="row">
    	<div class="label-perso" style="">
      	Envoie de <span class="mont">{{transfert.montant | number_format(2)}} {{transfert.devise}} </span>
        <br>(<span class="curr label-perso-2">{{transfert.percevoir | number_format(0)}} FCFA</span>)
        <br>
        <center style="font-size:17px">
          A <br> {{transfert.recepteur.numero}}, <span class="mont">{{transfert.recepteur}}</span>
        </center>
    	</div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 margin_top_30">
    	{% block methodPay %}
        
      {% endblock methodPay %}
		</div>
</div>

{% endblock content%}