{% extends 'partial/paiement/layout.html.twig' %}

{% block methodPay %}
	<script
	    src="https://www.paypal.com/sdk/js?currency=EUR&client-id=AVOhxwAqlRiUTstLtUPam2_jhWHPpLt0Cpa1w7vshCCCHV-rLRXCpurS6ZhiF5PCmKA31Di6KPpbuaBY">
	</script>
	<style type="text/css">
		.billingAddress p{
		    color: white !important;
		}
	</style>
<div class="col-md-12" style="background: #c1c1c19e;">
	<h3 style="font-weight:500;color:white" class="text-center"> </h3>
		<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    {% include 'partial/paypalScript.html.twig' %}

	<script>
	  lienS = "{{path('success_pay')}}";
	  lienE = "{{path('cancel_pay')}}";
	  var amount = {{transfert.montant | number_format(2)}};
	    monPaypal(amount, lienS, lienE);
	</script>

</div>
<center><a style="color: #ec6b2a;margin-bottom:15px" href="{{path('choix_pay_method')}}"><i class="fa fa-edit"></i> Changer de mode de paiement</a></center>
{% endblock methodPay %}