{% extends 'template/login.html.twig' %}
{% block name %}{{collecte.campagne.application}} | Campagne de {{collecte.campagne}}{% endblock %}
	{% block body %}
	<div class="col-md-12">
		<center>
			<script src="https://js.stripe.com/v3/"></script>
			<script type="text/javascript">
				var stripe = Stripe('{{ api_key_stripe_pulic }}');
				var checkoutButton = document.getElementById('checkout-button');

				checkoutButton.addEventListener('click', function() {
				  stripe.redirectToCheckout({
				    // Make the id field from the Checkout Session creation API response
				    // available to this file, so you can provide it as argument here
				   
				    sessionId: '{{CHECKOUT_SESSION_ID}}'
				  }).then(function (result) {
				    // If `redirectToCheckout` fails due to a browser or network
				    // error, display the localized error message to your customer
				    // using `result.error.message`.
				  });
				});
			</script>
		</center>
	</div>
	<script type="text/javascript">
	  	//$('.stripe-button-el').click();
	</script>
{% endblock body %}