{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Modification de la campagne <span style="color:#093983">[{{campagne}}]</span></h2>   
        <h5>Certaines de vos modifications ne pourront pas être prises en compte si vous avez déjà associé des formulaires et APIs  cette campagne.</h5>
    </div>
{% endblock tete %}
{% block menu %}
    {% include 'partial/menus/menu_autre.html.twig' %} 
{% endblock %}  
{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'campagne/form.html.twig' %}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Valider et modifier" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace( 'appbundle_campagne_description', {
        toolbar: [
        { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },]
    } );

$('form').attr('enctype','multipart/form-data');

</script>

{% include 'campagne/active.html.twig' %}

{% endblock %}
