{{ form_start(form) }}
<div class="col-md-12 mb-3">
    <label>Titre de la campagne <span style="color:red">*</span></label>
    {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-4  mb-3 collecte">
    <label>Type de campagne <span style="color:red">*</span></label>
    {{ form_widget(form.typeCampagne, {'attr':{'class':'form-control', 'onchange':'hideType(value)'}}) }}
</div>
<div class="col-md-4 mb-3 typeCampagne">
    <label>Type de collecte <span style="color:red">*</span></label>
    {{ form_widget(form.categorie, {'attr':{'class':'form-control'}}) }}
</div>
{% if edit is not defined %}
    <div class="col-md-4 mb-3">
        <label>Application / association <span style="color:red">*</span></label>
        {{ form_widget(form.application, {'attr':{'class':'form-control'}}) }}
    </div>
{% else %}
    <div class="col-md-4 mb-3">
        <label>Application / association <span style="color:red">*</span></label>
        <select class="form-control" onchange="hideType(value);">
         <option selected="selected" value="{{campagne.id}}">{{campagne.application}}</option>
     </select>
 </div>
{% endif %}
<div class="adhesion col-md-4">
    <div class="col-md-6  mb-3" style="">
        <label>Payer pour adhérer ?<span style="color:red">*</span></label>
        {{ form_widget(form.payante, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-md-6  mb-3 montant">
        <label>Montant pour adhérer (en <i class="fa fa-eur"></i>) <span style="color:red">*</span></label>
        {{ form_widget(form.montant, {'attr':{'class':'form-control', 'min':'5', 'type':'number', 'step':'0.01'}}) }}
    </div>
</div>

<div class="col-md-4 mb-3 test">
    <br><br>
</div>
<div class="col-md-3 mb-3" style="display:inline-flex">
    <label>Durée illimitée ? <span style="color:red">*</span></label>
    {{ form_widget(form.illimite, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-3 mb-3 dateDebut" style="display:inline-flex">
    <label>Date début</label>
    {{ form_widget(form.dateDebut, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-3 mb-3 dateFin" style="display:inline-flex">
    <label>Date fin</label>
    {{ form_widget(form.dateFin, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-3 mb-3" style="display:inline-flex">
    <label>Publier plus tard ?</label>
    {{ form_widget(form.fermer, {'attr':{'class':'form-control'}}) }}
</div>
{% if campagne.nom %}
    <div class="col-md-12 mb-4" style="">
        <label>Mettre à jour l'image de couverture ?</label>
        {{ form_widget(form.image, {'attr':{'class':'form-control'}}) }}
    </div>
{% else %}
    <div class="col-md-12 mb-4" style="">
        <label>Insérer une image de couverture ?</label>
        {{ form_widget(form.image, {'attr':{'class':'form-control'}}) }}
    </div>
{% endif %}
<div class="col-md-12 mb-3">
    <label>Dites-nous en plus sur votre campagne (Ces informations seront visibles par les visiteurs de votre plateforme)<br><small style="color:gray">Donnez au maximun des informations afin de lever l'ambiguïté et encourager les visiteurs à adhérer à votre cause</small></label>
    {{ form_widget(form.description, {'attr':{'required':'required'}}) }}
</div>   
<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>

<script type="text/javascript">
$('#appbundle_campagne_illimite').click(function function_name(argument) {
    if(document.getElementById('appbundle_campagne_illimite').checked){
        $('.dateDebut').hide('slow');
        $('.dateFin').hide('slow');
        $('#appbundle_campagne_dateDebut').removeAttr('required');
        $('#appbundle_campagne_dateFin').removeAttr('required');
    }else{
        $('.dateDebut').show('slow');
        $('.dateFin').show('slow');
        $('#appbundle_campagne_dateDebut').attr('required', 'required');
        $('#appbundle_campagne_dateFin').attr('required', 'required');
    }
});

$('#appbundle_campagne_payante').click(function function_name(argument) {
    if(document.getElementById('appbundle_campagne_payante').checked){
        $('.montant').show('slow');
    }else{
        $('.montant').hide('slow');
    }
});

function hideType(arg) {
    if(arg == "ADHESION"){
        $('.typeCampagne').hide('slow');
        //$('.test').show('slow');
        $('.adhesion').show('slow');
        $('.montant').hide('slow');
    }else{
        $('.typeCampagne').show('slow');
        $('.adhesion').hide('slow');
        //$('.test').hide('slow');
    }
}
$('.test').hide('slow');
$('.adhesion').hide('slow');
$('#appbundle_campagne_montant').attr('type', 'number');

$('#appbundle_campagne_dateDebut').attr('required', 'required');
$('#appbundle_campagne_dateFin').attr('required', 'required');

if(document.getElementById('appbundle_campagne_illimite').checked){
    $('#appbundle_campagne_dateDebut').removeAttr('required');
    $('#appbundle_campagne_dateFin').removeAttr('required');

    $('.dateDebut').hide('slow');
    $('.dateFin').hide('slow');
}

if(document.getElementById('appbundle_campagne_typeCampagne').value == "ADHESION"){
    hideType("ADHESION");
}


</script>