{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Liste des campagnes de collecte et adhésion {% if application is defined %} <span style="color:#093983">[{{application}}]</span> {% endif %}</h2>   
        <h5>Gérer vos campagnes; ajout, mise à jour et création des formulaires y afférents</h5>
    </div>
{% endblock tete %}

{% block body %}
    {% if app.user.level.rightToken != "ROLE_ADMIN" %}
        <div class="col-md-12">
            <a href="{{path('campagne_new')}}" class="btn btn-primary"> <i class="fa fa-plus-circle"></i> Ajouter une campagne</a>
        </div>
        <hr>
    {% endif %}
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Type <i class="pull-right fa fa-sort"></i></th>
                        <th>Titre de la campagne <i class="pull-right fa fa-sort"></i></th>
                        <th>Illimité <i class="pull-right fa fa-sort"></i></th>
                        <th>Du <i class="pull-right fa fa-sort"></i></th>
                        <th>Au <i class="pull-right fa fa-sort"></i></th>
                        <th>Etat <i class="pull-right fa fa-sort"></i></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                    {% for campagne in campagnes %}
                        <tr>
                            <td>{{ num }}</td>
                            <td>{{ campagne.typeCampagne }} [{{campagne.application}}] </td>
                            <td><a href="{{ path('campagne_manage', { 'id': campagne.id }) }}">{{ campagne.nom }}</a></td>
                            <td>{% if campagne.illimite %} <span class="label label-primary">Oui</span> {% else %}<span class="label label-warning">Non</span>{% endif %}</td>
                            <td>{% if campagne.dateDebut %}{{ campagne.dateDebut|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if campagne.dateFin %}{{ campagne.dateFin|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if campagne.fermer %}<span class="label label-danger">Clôturé</span>{% else %}<span class="label label-success">Actif</span>{% endif %}</td>
                            <td>
                                <a class="btn btn-info mb-1" href="{{ path('campagne_manage', { 'id': campagne.id }) }}"><i class="fa fa-folder-o"> Gérer</i></a>
                                <a class="btn btn-warning mb-1" href="{{ path('campagne_edit', { 'id': campagne.id }) }}"><i class="fa fa-edit"></i> Modifier</a>
                            </td>
                        </tr>
                        {% set num = num + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'campagne/active.html.twig' %}
{% endblock %}
