{% extends 'template/login.html.twig' %}
{% block body %}
	<div class="title_container">
		<a href="{{path('authentification')}}">
			<img class="logo" src="{{asset('admin/assets/img/find_user.png')}}" class="img-responsive"/>
		</a>
		<h2><b>soCool</b></h2>
		<span style="color:#695e50">Gestion des collectes de Dons, CrowdFundings, contributions et adhésions</span>
	</div>
	<div class="clearfix">
		<h2 class="text-center"><b>Il est possible que la campagne soit déjà terminée</b></h2>
		<h3 class="text-center" style="color:red">La page à laquelle vous tentez d'accéder n'existe plus ou est momentanément indisponible. Vérifiez le lien et réessayez.</h3>
		<p class="text-center">
			<br><br>
			<a href="">Contactez l'administrateur</a>
		</p>
	</div>
{% endblock %}