{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Ajout d'une campagne de collecte / adhésion</h2>   
        <h5>Remplissez le formulaire ci-dessous en respectant les champs. Certaines informations ne pourront plus être mise à jour après soumission</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'campagne/form.html.twig'%}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Valider et ajouter" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace( 'appbundle_campagne_description', {
        toolbar: [
        { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },]
    } );
    $('#appbundle_campagne_application').load('{{path('application_for_user')}}');
</script>
{% include 'campagne/active.html.twig' %}
{% endblock %}
