{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Campagne <span style="color:#093983">[{{campagne}}]</span> 
            <a title="Modifier la campagne" class="mb-3 mr-1" href="{{ path('campagne_edit', { 'id': campagne.id }) }}"> 
                <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-edit"></i></button>
            </a> 
            {% if campagne.typeCampagne == "COLLECTE" %}
                <a target="_blank" class="btn btn-success" href="{{path('collecte_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}"> <i class="fa fa-eye"></i> Prévisualiser</a>
            {% else %}
                <a target="_blank" class="btn btn-success" href="{{path('adhesion_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}"> <i class="fa fa-eye"></i> Prévisualiser</a>
            {% endif %}
        </h2>
        <table class="table table-bordered">
            <thead>
                <td>Du:  <b>{% if campagne.dateDebut %}{{ campagne.dateDebut|date('d-m-Y') }} {% else %} // {% endif %}</b></td>
                <td>Au:  <b>{% if campagne.dateFin %}{{ campagne.dateFin|date('d-m-Y') }} {% else %} // {% endif %}</b></td>
                <td>Etat: <b>{% if campagne.fermer %}<span class="label label-danger">Clôturée</span> <a style="color:green" class="pull-right" href="{{path('campagne_open', {'id': campagne.id})}}">Relancer la campagne ?</a>{% else %}<span class="label label-success">Actif</span> <a style="color:red" class="pull-right" href="{{path('campagne_close', {'id': campagne.id})}}">Clôturer la campagne ?</a> {% endif %}</b></td>
            </thead>
        </table>
    </div>
{% endblock tete %}

{% block menu %}
    {% include 'partial/menus/menu_appli.html.twig' %} 
{% endblock %} 


{% block body %}
{#
    <div class="col-md-12" style="
    background: #202020;
    padding: 5px;
    color: white !important;
    box-shadow: 2px 3px 9px 0px #20202075;
    ">
        {% if campagne.formulaires | length != 0 %}
            {% for formulaire in campagne.formulaires %}
                <div class="col-md-4 mb-3">
                    <span style="font-size: 20px;">01 formulaire d'intégration trouvé <i style="color:green" class="fa fa-code"></i></span>
                </div>
                <div class="col-md-4 mb-3">
                    <a class="btn btn-success" href="{{path('formulaire_edit', {'id': formulaire.id})}}"> <i class="fa fa-edit"></i> Editer le formulaire</a>
                </div> 
                {% if formulaire.campagne.typeCampagne == "COLLECTE" %}
                    <div class="col-md-2 mb-3">
                        <div class="input-group">
                            <input style="" id="lienForm" type="text" class="form-control" value="{{path('collecte_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}" aria-describedby="basic-addon2" />
                            <span onclick="copieCode()" class="input-group-addon btn btn-primary" id="basic-addon2"><i class="fa fa-copy"></i> Copier le lien</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a target="_blank" class="btn btn-warning" href="{{path('collecte_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}"> <i class="fa fa-eye"></i> Prévisualiser</a>
                    </div>
                {% else %}
                    <div class="col-md-2 mb-3">
                        <div class="input-group">
                            <input style="" id="lienFormTwo" type="text" class="form-control" value="{{path('adhesion_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}" aria-describedby="basic-addon2" />
                            <span onclick="copieCodeTwo()" class="input-group-addon btn btn-primary" id="basic-addon2"><i class="fa fa-copy"></i> Copier le lien</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a target="_blank" class="btn btn-warning" href="{{path('adhesion_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}"> <i class="fa fa-eye"></i> Prévisualiser</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>Aucun formulaire d'intégration trouvé
                <a href="{{path('form_campagne_new', {'id': campagne.id})}}" class="btn btn-link"> <i class="fa fa-plus-circle"></i> Associer un formulaire à cette campagne</a>
            </h3>
        {% endif %}
</div>
#}
<div class="col-md-12 col-sm-12" style="
                            background:url({{asset('Uploads/couvertures/')}}{{ campagne.image }});
                            min-height: 400px;background-size:cover">
    <div class="row" style="background: #050608c9;min-height:450px">
        <div class="panel-body desc-campagne">
            <div class="col-md-3 col-sm-6 col-xs-12">           
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <i class="fa fa-users fa-2x"></i>
                        <h4>{{( participations | length ) | number_format}} Participation(s)   </h4>
                    </div>
                    <div class="panel-footer back-footer-blue">
                        <a class="btn btn-custum" href="{{path('collecte_index')}}">Liste des participants</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">           
                <div class="panel panel-primary text-center no-boder bg-color-red">
                    <div class="panel-body">
                        <i class="fa fa-money fa-2x"></i>
                        <h4>{{montantCollecte | number_format(2)}}<i class="fa fa-eur"></i> Collecté(s)</h4>
                    </div>
                    <div class="panel-footer back-footer-red">
                        <a class="btn btn-custum" href="">Montant total reçu</a>
                    </div>
                </div>  
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">           
                <div class="panel panel-primary text-center no-boder bg-color-pink">
                    <div class="panel-body">
                        <i class="fa fa-users fa-2x"></i>
                        <h4>{{(montantCollecte - soldeRestant) | number_format(2)}}<i class="fa fa-eur"></i> Retiré(s)</h4>
                    </div>
                    <div class="panel-footer back-footer-pink">
                        <a class="btn btn-custum" href="{{path('collecte_index')}}">Historique des retraits</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">           
                <div class="panel panel-primary text-center no-boder bg-color-green">
                    <div class="panel-body">
                        <i class="fa fa-gift fa-2x"></i>
                        <h4>{{soldeRestant | number_format(2)}}<i class="fa fa-eur"></i> Restant(s)</h4>
                    </div>
                    <div class="panel-footer back-footer-green">
                        <a class="btn btn-custum" href="{{path('collecte_index')}}">Demander un versement</a>
                    </div>
                </div>  
            </div>
            <div class="col-md-12" style="color:white">
                <div class="col-md-6 row">
                    <h5><b>Partager via</b></h5>
                    <a class="btn btn-primary mr-1 mb-1" href=""><i class="fa fa-facebook"></i> Facebook</a>
                    <a class="btn btn-info mr-1 mb-1" href=""><i class="fa fa-twitter"></i> Twitter</a>
                    <a class="btn btn-success mr-4 mb-1" href="">WhatsApp</a>
                </div>
                <div class="col-md-6 row">
                    <h5><b>Intégrer sur une page</b></h5>
                    {% if campagne.typeCampagne == "COLLECTE" %}
                        <div class="col-md-7 row">
                            <div class="input-group mb-1 mr-2">
                                <input style="" id="lienFormTwo" type="text" class="form-control" value="{{path('adhesion_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}" aria-describedby="basic-addon2" />
                                <span onclick="copieCodeTwo()" class="input-group-addon btn btn-primary" id="basic-addon2"><i class="fa fa-copy"></i> Copier le lien</span>
                            </div>
                        </div>
                        <div class="col-md-2 row">
                            <a target="_blank" style="background:black" class="btn btn-warning" href="{{path('collecte_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}"> <i class="fa fa-eye"></i> Prévisualiser</a>
                        </div>
                    {% else %}
                        <div class="col-md-7 row">
                            <div class="input-group mb-1 mr-2">
                                <input style="" id="lienFormTwo" type="text" class="form-control" value="{{path('adhesion_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}" aria-describedby="basic-addon2" />
                                <span onclick="copieCodeTwo()" class="input-group-addon btn btn-primary" id="basic-addon2"><i class="fa fa-copy"></i> Copier le lien</span>
                            </div>
                        </div>
                        <div class="col-md-2 row">
                            <a target="_blank" style="background:black" class="btn btn-warning" href="{{path('adhesion_form', {'application': campagne.application.nom, 'campagne':campagne.nom, 'id': campagne.id})}}"> <i class="fa fa-eye"></i> Prévisualiser</a>
                        </div>
                    {% endif %}
                </div>
                <hr class="col-md-12">
                <div class="col-md-12 row">
                    <div class="col-md-6 row">
                        <a class="btn btn-warning active  mb-1" href=""> <i class="fa fa-money"></i> Demander un versement</a>
                    </div>
                    <div class="col-md-6 ">
                        <a class="btn btn-danger  mb-1" href=""> <i class="fa fa-times"></i> Fermer la collecte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h2>Participations à la campagne</h2>
    {% if campagne.typeCampagne == "COLLECTE" %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>N° <i class="pull-right fa fa-sort"></i></th>
                        <th>Donnateur <i class="pull-right fa fa-sort"></i></th>
                        <th>Montant <i class="pull-right fa fa-sort"></i></th>
                        <th>Le <i class="pull-right fa fa-sort"></i></th>
                        <th>Via</th>
                        <th>Téléphone</th>
                        <th>Profession</th>
                        <th>Pays</th>
                        <th>Ville (Adresse)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                    {% for collecte in participations %}
                        <tr>
                            <td><a href="">{{num}}</a></td>
                            <td>{{ collecte.nom }}</td>
                            <td>{{ collecte.montant }}€</td>
                            <td>{% if collecte.dateCollecte %}{{ collecte.dateCollecte|date('Y-m-d') }}{% endif %}</td>
                            <td>Carte B.</td>
                            <td>{{ collecte.telephone }}</td>
                            <td>{{ collecte.profession }}</td>
                            <td>{{ collecte.pays }}</td>
                            <td>{{ collecte.ville }}</td>
                            <td>
                                <a href="#"> <i class="fa fa-file-o"></i> Reçu</a>
                            </td>
                        </tr>
                    {% set num = num + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    {% else %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Noms et prénoms</th>
                        <th>Téléphone</th>
                        <th>Date adhésion</th>
                        <th>Type membre</th>
                        <th>Profession</th>
                        <th>Pays</th>
                        <th>Ville</th>
                        <th>Age</th>
                        <th>Motivation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                    {% for adhesion in participations %}
                        <tr>
                            <td><a href="{{ path('adhesion_show', { 'id': adhesion.id }) }}">{{num}}</a></td>
                            <td>{{ adhesion.nom }}</td>
                            <td>{{ adhesion.telephone }}</td>
                            <td>{% if adhesion.dateAdhesion %}{{ adhesion.dateAdhesion|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ adhesion.typeMembre }}</td>
                            <td>{{ adhesion.profession }}</td>
                            <td>{{ adhesion.pays }}</td>
                            <td>{{ adhesion.ville }}</td>
                            <td>{{ adhesion.age }}</td>
                            <td>{{ adhesion.motivation }}</td>
                            <td>
                                <a href="{{ path('adhesion_show', { 'id': adhesion.id }) }}"> <i class="fa fa-file-o"></i> Carte</a>
                            </td>
                        </tr>
                        {% set num =  num +  1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    {% endif %}
</div>
<div class="col-md-12">
    <hr>
    <div style="padding: 20px;padding-top:0px;">
        {{ campagne.description | raw}}
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2 style="font-size:22px" class="text-center">Lien copié avec succès</h2>
  </div>
</div>
</div>
{% include 'campagne/active.html.twig' %}
<script type="text/javascript">
if(window.location.hostname == "localhost"){
    document.getElementById("lienForm").value = window.location.origin  + document.getElementById("lienForm").value;
}else{
    document.getElementById("lienForm").value = window.location.origin  + document.getElementById("lienForm").value;
}

function copieCode() {
  /* Get the text field */
  var copyText = document.getElementById("lienForm");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 9999999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  $('.bs-example-modal-sm').modal("show").modal("hide");
}

function copieCodeTwo() {
  /* Get the text field */
  var copyText = document.getElementById("lienFormTwo");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 9999999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  $('.bs-example-modal-sm').modal("show").modal("hide");
}
</script>
{% endblock %}
