{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frais list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pourcentage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for frai in frais %}
            <tr>
                <td><a href="{{ path('frais_show', { 'id': frai.id }) }}">{{ frai.id }}</a></td>
                <td>{{ frai.pourcentage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frais_show', { 'id': frai.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('frais_edit', { 'id': frai.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frais_new') }}">Create a new frai</a>
        </li>
    </ul>
{% endblock %}
