{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frai</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frai.id }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ frai.pourcentage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frais_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('frais_edit', { 'id': frai.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
