<li>
	<a class="appli" href="{{path('application_index')}}"><i class="fa fa-desktop fa-x"></i> Applications / Associations </a>
</li>

<li>
	<a class="adhe" href="#"><i class="fa fa-users fa-x"></i> Adhésions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="#">Créer un formulaire</a>
		</li>
		<li>
			<a href="#">Afficher la liste</a>
		</li>
	</ul>
</li>
<li>
	<a class="collecte"  href="#"><i class="fa fa-gift fa-x"></i> Dons et contributions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="#">Créer une campagne</a>
		</li>
		<li>
			<a href="#">Afficher la liste</a>
		</li>
	</ul>
</li>
<li  >
	<a class="campa"  href="{{path('campagne_index')}}"><i class="fa fa-edit fa-x"></i> Toutes mes campagnes</a>
</li>
<li>
	<a  href="{{path('api_config')}}"><i class="fa fa-qrcode fa-x"></i> Intégrations et APIs</a>
</li>	
