<li>
	<a href="#" class="appli"><i class="fa fa-desktop fa-x"></i> Mes applications<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		
		{% for application in applications %}
			<li>
				<a href="{{path('application_show', {'id': application.id})}}">{{application}}</a>
			</li>
		{% endfor %}
		<li>
			<a href="{{path('application_index')}}">Afficher tout</a>
		</li>
	</ul>
</li>

<li>
	<a class="adhe" href="#"><i class="fa fa-users fa-x"></i> Mes adhésions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="{{path('campagne_adhesion_new', {'id': 0})}}">Créer un formulaire</a>
		</li>
		<li>
			<a href="{{path('adhesion_index')}}">Afficher la liste</a>
		</li>
	</ul>
</li>
<li  >
	<a class="collecte" href="#"><i class="fa fa-gift fa-x"></i> Dons et contributions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="{{path('campagne_collecte_new', {id:0})}}">Lancer une collecte</a>
		</li>
		<li>
			<a href="{{path('collecte_index')}}">Afficher la liste</a>
		</li>
	</ul>
</li>
<li  >
	<a class="campa"  href="{{path('campagne_index')}}"><i class="fa fa-edit fa-x"></i> Toutes mes campagnes</a>
</li>
<li>
	<a  href="{{path('api_config')}}"><i class="fa fa-qrcode fa-x"></i> Intégrations et APIs</a>
</li>
