<li>
	<a class="appli" href="{{path('application_index')}}"><i class="fa fa-desktop fa-x"></i> Applications / Associations </a>
</li>

<li>
	<a class="adhe" href="#"><i class="fa fa-users fa-x"></i> Adhésions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="#">Créer un formulaire</a>
		</li>
		<li>
			<a href="{{path('adhesion_index')}}">Afficher la liste</a>
		</li>
	</ul>
</li>
<li>
	<a class="collecte" href="#"><i class="fa fa-gift fa-x"></i> Dons et contributions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="{{path('campagne_new')}}">Créer une campagne</a>
		</li>
		<li>
			<a href="{{path('campagne_index')}}">Voir les campagnes</a>
		</li>
	</ul>
</li>

<li>
	<a class="cate" href="{{path('categorie_index')}}"><i class="fa fa-folder-o fa-x"></i> Catégories de collecte </a>
</li>

<li>
	<a  href="{{path('api_config')}}"><i class="fa fa-qrcode fa-x"></i> Intégrations et APIs</a>
</li>
<li  >
	<a class="campa"  href="{{path('campagne_index')}}"><i class="fa fa-edit fa-x"></i>Toutes mes campagnes</a>
</li>	
<li  >
	<a class="notif"  href="{{path('notification_index')}}"><i class="fa fa-bell fa-x"></i> Notifications mails</a>
</li>	
<li>
	<a class="banque" href="{{path('banque_index')}}"><i class="fa fa-money fa-x"></i> informations bancaires </a>
</li>
<li>
	<a class="users" href="{{path('utilisateur_index')}}"><i class="fa fa-users fa-x"></i> Comptes utilisateurs</a>
</li>