<li class="text-center">
	{% block logoAppli %}
		<span style="color:white">Logo</span>
		<a title="Modifier le logo ou l'association" class="btn btn-primary btn-circle pull-right edit-logo" href="{{path('application_edit', {'id':application.id})}}"><i class="fa fa-edit"></i></a>
		<img src="{{asset('Uploads/logos/')}}{{ application.logo }}" class="user-image img-responsive"/>
	{% endblock %}
</li>
<li class="">
	<a class="appli" href="{{path('application_show', {'id': application.id})}}"><i class="fa fa-desktop fa-x"></i> {{application}} </a>
</li>	
<li>
	<a class="adhe" href="#"><i class="fa fa-users fa-x"></i> Mes adhésions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="{{path('campagne_adhesion_new', {'id': application.id})}}">Créer un formulaire</a>
		</li>
		<li>
			<a href="{{path('adhesion_application_index', {'id': application.id})}}">Afficher la liste</a>
		</li>
	</ul>
</li>
<li>
	<a class="collecte" href="#"><i class="fa fa-gift fa-x"></i> Dons et contributions<span class="fa arrow"></span></a>
	<ul class="nav nav-second-level">
		<li>
			<a href="{{path('campagne_collecte_new', {'id': application.id})}}">Lancer une collecte</a>
		</li>
		<li>
			<a href="{{path('collecte_application_index', {'id': application.id})}}">Afficher la liste</a>
		</li>
	</ul>
</li>
<li>
	<a class="campa"  href="{{path('campagne_appli', {'id': application.id})}}"><i class="fa fa-edit fa-x"></i> Toutes mes campagnes</a>
</li>
<li>
	<a  href="{{path('api_config')}}"><i class="fa fa-qrcode fa-x"></i> Intégrations et APIs</a>
</li>