<!DOCTYPE html>
<html>
    {% block fos_user_content %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Koba, Click and send. Envoyez de l'argent au Cameroun depuis l'étranger">
            <meta name="author" content="GreenSoft-Group, ATEMGOUA BRUMEL, themis-it Technologies">

            <link rel="shortcut icon" href="assets/images/favicon_1.ico">
            {% block title %}
                <title>
                    Koba, Click and send. Envoyez de l'argent au Cameroun depuis l'étranger
                </title>
            {% endblock %}
            <script src="{{asset('assets/js/jquery.min.js')}}"></script>
            <link href="{{asset('chosen/select2.min.css')}}" rel="stylesheet" />
            <script src="{{asset('chosen/select2.min.js')}}" type="text/javascript"></script>
            <link rel="stylesheet" href="{{asset('assets/plugins/morris/morris.css')}}">
            <link rel="stylesheet" href="{{asset('assets/plugins/custombox/css/custombox.css')}}">
            <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

            <link href="{{asset('assets/plugins/summernote/summernote.css')}}" rel="stylesheet" />
            <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/core.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/pages.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/responsive.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/css/styleTag.css')}}" rel="stylesheet" type="text/css" />
            <link href="{{asset('assets/plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('assets/plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css">
            <script src="{{asset('ckeditor/ckeditor.js')}}"></script>
            <script src="{{asset('ckeditor/samples/js/sample.js')}}"></script>
            <link href="{{asset('ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css')}}" rel="stylesheet">
            <script src="{{asset('assets/js/modernizr.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>

        </head>
        <body class="fixed-left" style="font-size: 14px;font-family: 'Raleway', sans-serif;">


            <!-- Begin page -->
            <div id="wrapper">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <div class="text-center">
                            <a href="{{path('adminPage')}}" class="logo"><span style=""><img style="height: 55px;" src="{{asset('mini-logo.png')}}" /></span></a>
                            <!-- Image Logo here -->
                            <!--<a href="index.html" class="logo">-->
                            <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                            <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                            <!--</a>-->
                        </div>
                    </div>

                    <!-- Button mobile view to collapse sidebar menu -->
                    <div class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <div class="">
                                <div class="pull-left">

                                    <button class="button-menu-mobile open-left waves-effect waves-light">
                                        <i class="md md-menu"></i>
                                    </button>

                                    <span class="clearfix"></span>
                                </div>

                                <ul class="nav navbar-nav hidden-xs">

                                    <li>
                                        <h3 style="color: white;
                                            font-family: 'Raleway', sans-serif;
                                            margin-top: 16px;
                                            ">Envoie d'argent au Cameroun depuis l'étranger
                                        </h3>
                                    </li>
                                </ul>

                                <form role="search" class="navbar-left app-search pull-left hidden-xs">

                                </form>


                                <ul class="nav navbar-nav navbar-right pull-right">
                                    <li class="dropdown top-menu-item-xs">
                                    <li class="hidden-xs">
                                        {# <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a> #}
                                    </li>
                                    <li class="dropdown top-menu-item-xs">
                                        <a href="" style="font-size: 16px; font-family: 'Raleway', sans-serif;" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <span style="color: white">{{ app.user.nom }}</span>
                                            {% endif %} 
                                            <img src="{{asset('assets/images/users/profil.png')}}" alt="user-img" class="img-circle"> 
                                        </a>
                                        <ul class="dropdown-menu" style="font-family: 'Raleway', sans-serif;">
                                            <li><a title="Cliquez pour modifier mos informations" href="{{path('fos_user_profile_show')}}"><i class="glyphicon glyphicon-user m-r-10 text-custom"></i> 
                                                    Profil
                                                </a></li>
                                                {% if is_granted("ROLE_ADMIN") %}
                                                    {% if app.user.level is not null %}
                                                        {% if ( app.user.level.rightToken == "ROLE_ADMIN" )  %}
                                                        <li>
                                                            <a href="{{path('utilisateur_index')}}"><i class="fa fa-cog m-r-10 text-danger"></i> Administration</a>
                                                        </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                <li><a href="{{path('fos_user_security_logout')}}"><i class="glyphicon glyphicon-off m-r-10 text-danger"></i> Déconnecter</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!--/.nav-collapse -->
                            </div>
                        </div>
                    </div>
                    <!-- Top Bar End -->


                    <!-- ========== Left Sidebar Start ========== -->

                    <div class="left side-menu purple" style="font-size: 16px;">

                        <div class="sidebar-inner slimscrollleft">
                            <!--- Divider -->
                            <div id="sidebar-menu">
                                <ul>
                                    <li style="font-size: 14px;" class="text-muted menu-title text-bold"><i class=" text-bold fa fa-dashboard"></i> <span class="text-center"><b style="color: lightblue">TABLEAU DE BORD</b></span></li>

                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li class="has_sub">
                                            <a style="" href="javascript:void(0);" class="waves-effect"><i class="fa fa-send"></i> <span> Les transferts</span> <span class="menu-arrow"></span></a>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a style="color:orangered" href="{{path('transfert_receive_noPay')}}" class="">
                                                        Transactions impayées</a>
                                                </li>
                                                 <li>
                                                    <a href="{{path('transfert_receive_andPay')}}" class="">
                                                        Transactions payées</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('transfert_receive')}}" class="">
                                                        Toutes les transactions</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has_sub">
                                            <a href="{{path('virement_index')}}"><i class="glyphicon glyphicon-transfer"></i><span class="text-center">Virements inter Koba</span></a>
                                        </li>
                                        <li class="has_sub">
                                            <a style="" href="javascript:void(0);" class="waves-effect"><i class="fa fa-users"></i> <span>Gest. des utilisateurs</span> <span class="menu-arrow"></span></a>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="{{path('client_index')}}" class="">
                                                        Les clients</a>
                                                </li>
                                                 <li>
                                                    <a href="{{path('repertoire_index')}}" class="">
                                                        les bénéficiaires</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('utilisateur_index')}}" class="">
                                                        Les gestionnaires</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has_sub">
                                            <a style="" href="javascript:void(0);" class="waves-effect"><i class="fa fa-cog"></i> <span>Les paramétrages</span> <span class="menu-arrow"></span></a>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="{{path('commission_index')}}" class="">
                                                        <i class="fa fa-money"></i>
                                                        Frais env. KOBA</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('mobile_index')}}" class="">
                                                        <i class="fa fa-send"></i>
                                                        Frais OM/MTN</a>
                                                </li>
                                                 <li>
                                                    <a href="{{path('config_index')}}" class="">
                                                        <i class="fa fa-lock"></i> 
                                                        Autorisations</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('notification_index')}}" class="">
                                                        <i class="fa fa-cog"></i>
                                                        Notifications</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has_sub">
                                            <a style="" href="javascript:void(0);" class="waves-effect"><i class="fa fa-file"></i> <span>Les cas de litiges</span> <span class="menu-arrow"></span></a>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="{{path('litige_non_traite')}}" class="">
                                                        Cas non traités</a>
                                                </li>
                                                 <li>
                                                    <a href="{{path('litige_resolu')}}" class="">
                                                        Cas résolus</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('litige_index')}}" class="">
                                                        Tous les litiges</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has_sub">
                                            <a style="" href="javascript:void(0);" class="waves-effect"><i class="fa fa-list"></i> <span>Statistiques</span> <span class="menu-arrow"></span></a>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="{{path('transfert_statistiques')}}" class="">
                                                        Envoies vers OM/MTN</a>
                                                </li>
                                                <li>
                                                    <a href="{{path('virements_statistiques')}}" class="">
                                                        Virements KOBA</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <!-- Left Sidebar End -->



                    <!-- ============================================================== -->
                    <!-- Start right Content here -->
                    <!-- ============================================================== -->
                    <div class="content-page" style="margin-bottom: 100px;">
                        <!-- Start content -->
                        <div class="content">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    <center>{{ message | raw }}</center>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('info') %}
                                <div class="alert alert-info">
                                    <center>{{ message | raw }}</center>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('echec') %}
                                <div class="alert alert-danger">
                                    <center>{{ message | raw }}</center>
                                </div>
                            {% endfor %}
                            {% block body %}
                                {% block content -%}
                                <div class="container">
                                    <div class="col-md-12 row">
                                        <div class="blocAdmin bloc-1 col-md-3">
                                            <div class="panel panel-default panelAdmin-1">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-success">{{ transfertsPending | length }}</h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Transferts en attente de paiement
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-1"> 
                                                    <a href="{{path('transfert_receive_noPay')}}"><i class="ti-list"></i> Voir les détails</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-2 col-md-3">
                                            <div class="panel panel-default panelAdmin-2">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-primary">
                                                            {% if pourcentage == 0 %}
                                                                0%
                                                            {% else %}
                                                                {{ (pourcentage  * 100) | length }}%
                                                            {% endif %}
                                                        </h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        De paiement déjà effectués 
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-2">
                                                <a href="{{path('transfert_receive_andPay')}}">
                                                    <i class="ti-list"></i> Voir les détails
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-3 col-md-3">
                                            <div class="panel panel-default panelAdmin-3">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-purple">
                                                            {{transferts | length}}
                                                        </h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Transfert effectués au total
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-3">
                                                    <a href="{{path('transfert_receive')}}">
                                                        <i class="ti-list"></i> Voir les détails
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-4 col-md-3">
                                            <div class="panel panel-default panelAdmin-4">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-danger">
                                                            {{litiges | length}}
                                                        </h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Litiges en attente de résolution
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-4">
                                                    <a href="{{path('litige_non_traite')}}">
                                                        <i class="ti-list"></i> Voir les détails
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="blocAdmin bloc-5 col-md-3">
                                            <div class="panel panel-default panelAdmin-5">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-warning">
                                                            {{clients | length}}
                                                        </h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Clients enregistrés
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-5">
                                                    <a href="{{path('client_index')}}">
                                                        <i class="ti-list"></i> Voir les détails
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-6 col-md-3">
                                            <div class="panel panel-default panelAdmin-6">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-info">
                                                            {{beneficiaires | length}}
                                                        </h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Les bénéficiaires
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-6">
                                                    <a href="{{path('repertoire_index')}}">
                                                        <i class="ti-list"></i> Voir les détails
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-7 col-md-3">
                                            <div class="panel panel-default panelAdmin-7">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-8">
                                                        <h2 class="title-stats label label-grey"><i class="fa fa-money"></i></h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Gestion des frais
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-7">
                                                    <a href="{{path('commission_index')}}">
                                                        <i class="ti-list"></i> Voir les détails
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-8 col-md-3">
                                            <div class="panel panel-default panelAdmin-8">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-marron"><i class="fa fa-bell"></i></h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Gestion des notifications
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-8">
                                                    <a href="{{path('notification_index')}}"> 
                                                        <i class="ti-list"></i> Voir les détails
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row">
                                        <div class="blocAdmin bloc-9 col-md-3">
                                            <div class="panel panel-default panelAdmin-9">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-vert"><i class="fa fa-folder-open"></i></h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Gestion des autorisations
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-9">
                                                <a href="{{path('config_index')}}"> 
                                                    <i class="ti-list"></i> Voir les détails
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blocAdmin bloc-10 col-md-3">
                                            <div class="panel panel-default panelAdmin-10">
                                                <div class="panel-body contentPanel">
                                                    <div class="col-md-6">
                                                        <h2 class="title-stats label label-noir"><i class="fa fa-lock"></i></h2>
                                                    </div>
                                                    <hr>
                                                    <div class="col-md-12 title">
                                                        Gestion de la sécurité
                                                    </div>
                                                </div>
                                                <div class="panel-heading piedPanel-10"> 
                                                    <i class="ti-list"></i> Voir les détails
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- container -->
                                {% endblock %}
                            {% endblock %}
                        </div> <!-- content -->
                    
                        <footer class="footer text-right" style="margin-top: 50px;">
                            © 2021. <a href="https://koba.cm/" target="_blank"><b>KOBA</b></a>, Tous droits réservés.
                        </footer>

                    

                    </div>


                    <!-- ============================================================== -->
                    <!-- End Right content here -->
                    <!-- ============================================================== -->


                    <!-- Right Sidebar -->
                    <div class="side-bar right-bar nicescroll">

                        {# chat #}
                    </div>
                    <!-- /Right-bar -->

                </div>
                <!-- END wrapper -->



                <script>
                    var resizefunc = [];
                </script>

                <!-- jQuery  -->
                <!-- jQuery  -->

                <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
                <script src="{{asset('assets/js/detect.js')}}"></script>
                <script src="{{asset('assets/js/fastclick.js')}}"></script>

                <script src="{{asset('assets/js/jquery.slimscroll.js')}}"></script>
                <script src="{{asset('assets/js/jquery.blockUI.js')}}"></script>
                <script src="{{asset('assets/js/waves.js')}}"></script>
                <script src="{{asset('assets/js/wow.min.js')}}"></script>
                <script src="{{asset('assets/js/jquery.nicescroll.js')}}"></script>
                <script src="{{asset('assets/js/jquery.scrollTo.min.js')}}"></script>

                <script src="{{asset('assets/plugins/peity/jquery.peity.min.js')}}"></script>

                <!-- jQuery  -->
                <script src="{{asset('assets/plugins/waypoints/lib/jquery.waypoints.js')}}"></script>
                <script src="{{asset('assets/plugins/counterup/jquery.counterup.min.js')}}"></script>

                <script src="{{asset('assets/plugins/jquery-knob/jquery.knob.js')}}"></script>


                <script src="{{asset('assets/js/jquery.core.js')}}"></script>
                <script src="{{asset('assets/js/jquery.app.js')}}"></script>

                <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.bootstrap.js')}}"></script>

                <script src="{{asset('assets/plugins/datatables/dataTables.buttons.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/buttons.bootstrap.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/jszip.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/pdfmake.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/vfs_fonts.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/buttons.html5.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/buttons.print.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.keyTable.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.responsive.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/responsive.bootstrap.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.scroller.min.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.colVis.js')}}"></script>
                <script src="{{asset('assets/plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

                <script src="{{asset('assets/pages/datatables.init.js')}}"></script>
                <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>


                <script src="{{asset('assets/plugins/custombox/js/custombox.min.js')}}"></script>
                <script src="{{asset('assets/plugins/custombox/js/legacy.min.js')}}"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('.counter').counterUp({
                            delay: 100,
                            time: 1200
                        });

                        $(".knob").knob();

                    });

                    //Chargement de datatable
                    $(document).ready(function () {
                        $('#datatable').DataTable({
                            "language": {
                                "url": "{{asset('assets/French.json')}}",
                                buttons: {
                                    copy: 'Copier',
                                    print: 'Imprimer',
                                    copyTitle: 'Ajouté au presse-papiers',
                                    copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                                    copySuccess: {
                                        _: '%d lignes copiées',
                                        1: '1 ligne copiée'
                                    }
                                }
                            },
                            buttons: [
                                'copy', 'excel', 'pdf', 'csv', 'print'
                            ],
                        });
                    });
                    $('.alert').delay(5000).hide('slow');
                </script>

            </body>
            {% endblock fos_user_content %}
            </html>