<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}{{app_name}}, plateforme de collecte de fonds, Dons, mains levées et Crowdfundings{% endblock title %}</title>
	<!-- BOOTSTRAP STYLES-->
	<link href="{{asset('admin/assets/css/bootstrap.css')}}" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="{{asset('admin/assets/css/font-awesome.css')}}" rel="stylesheet" />
	<!-- MORRIS CHART STYLES-->
	<link href="{{asset('admin/assets/js/morris/morris-0.4.3.min.css')}}" rel="stylesheet" />
	<!-- CUSTOM STYLES-->
	<link href="{{asset('admin/assets/css/custom.css')}}" rel="stylesheet" />
	<!-- GOOGLE FONTS-->
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
	<link href="{{asset('admin/assets/js/dataTables/dataTables.bootstrap.css')}}" rel="stylesheet" />
	<script src="{{asset('ckeditor/ckeditor.js')}}"></script>
	<script src="{{asset('ckeditor/samples/js/sample.js')}}"></script>
	<link href="{{asset('ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css')}}" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{path('homepage')}}">
					<img src="{{asset('admin/assets/img/soCollect.jpg')}}" class="logo img-responsive"/>
				</a> 
			</div>
			<div style="color: white;
			padding: 15px 50px 5px 50px;
			float: right;
			font-size: 16px;">
			{% if (app.user.level.rightToken == "ROLE_ADMIN") and versementsT is defined %}
				<a class="" data-toggle="tooltip" data-placement="left" title="{{versementsT | length}} demande de versement en attente" href="{{path('versement_index')}}" style="margin-right:20px;color:white"> <i class="fa fa-bell"></i><sup>({{versementsT | length}})</sup> </a> 
			{% endif %}
			<a href="{{path('fos_user_security_logout')}}" class="btn btn-danger square-btn-adjust">Se déconnecter</a> 
		</div>
	</nav>   
	<!-- /. NAV TOP  -->
	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li>
					<a class="active-menu dashoard"  href="{{path('homepage')}}"><i class="fa fa-dashboard fa-x"></i> Tableau de bord</a>
				</li>
				{% block menu %}
					{% if app.user and app.user.level.rightToken == "ROLE_ADMIN" %}
						{% include 'partial/menus/menu_admin.html.twig' %} 
					{% else %}
						{% if application is defined and application is not null and application.nom != "" %}
							{##}
							{% include 'partial/menus/menu_appli.html.twig' %}
						{% else %}
							{% if applications is not defined %}
								{% include 'partial/menus/menu_general.html.twig' with {'applications' : null} %}
							{% else %}
								{% include 'partial/menus/menu_general.html.twig' %}
							{% endif %}
						{% endif %}
					{% endif %}	
				{% endblock %}	

				<li>
					<a class="compte" href="{{path('fos_user_profile_show')}}"><i class="fa fa-user fa-x"></i> Mon compte</span></a>
				</li>
				<li>
					<ul class="nav nav-second-level">
						{% if app.user and app.user.level.rightToken != "ROLE_ADMIN" %}
							<li>
								<a href="{{path('versement_index')}}">Demande de versement</a>
							</li> 
							<li>
								<a href="{{path('banque_index')}}">Paramétrage bancaire</a>
							</li>
						{% endif %}
						
						<li>
							<a href="{{path('fos_user_profile_show')}}">Mon profile</a>
						</li>
					</ul>
				</li>	
			</ul>

		</div>
	</nav>  
	<!-- /. NAV SIDE  -->
	<div id="page-wrapper" >
		<div id="page-inner">
			<div class="row">
				{% block tete %}
					<div class="col-md-12">
						<h2>Espace utilisateur de gestion des collectes</h2>   
						<h5>Bienvenue {{app.user}}, content de vous retrouver. </h5>
					</div>
				{% endblock tete %}
				<div class="col-md-12">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<center>{{ message | raw }}</center>
						</div>
					{% endfor %}
					{% for message in app.flashes('info') %}
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<center>{{ message | raw }}</center>
						</div>
					{% endfor %}
					{% for message in app.flashes('echec') %}
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<center>{{ message | raw }}</center>
						</div>
					{% endfor %}
				</div>
			</div>              
			<!-- /. ROW  -->
			<hr />
			<div class="row">
				{% block body %}
					<div class="col-md-4 col-sm-6 col-xs-12">           
						<div class="panel panel-primary text-center no-boder bg-color-red">
							<div class="panel-body">
								<i class="fa fa-users fa-5x"></i>
								<h3>{{adhesions | length | number_format()}} Adhésion(s) [ {{montantAdhesion | number_format(2)}}€ ]</h3>
							</div>
							<div class="panel-footer back-footer-red">
								<a class="btn btn-custum" href="{{path('adhesion_index')}}">Voir la liste</a>
							</div>
						</div>  
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">           
						<div class="panel panel-primary text-center no-boder bg-color-green">
							<div class="panel-body">
								<i class="fa fa-gift fa-5x"></i>
								<h3>{{montantCollecte | number_format(2)}} <i class="fa fa-eur"></i> collectés</h3>
							</div>
							<div class="panel-footer back-footer-green">
								<a class="btn btn-custum" href="{{path('collecte_index')}}">Afficher les détails</a>
							</div>
						</div>  
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">           
						<div class="panel panel-primary text-center no-boder bg-color-blue">
							<div class="panel-body">
								<i class="fa fa-heart fa-5x"></i>
								<h3>{{collectes | length | number_format()}} Donateur(s)</h3>
							</div>
							<div class="panel-footer back-footer-blue">
								<a class="btn btn-custum" href="{{path('collecte_index')}}">Voir la liste</a>
							</div>
						</div> 
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">           
						<div class="panel panel-back noti-box">
							<span class="icon-box bg-color-brown set-icon">
								<i class="fa fa-rocket"></i>
							</span>
							<div class="text-box" >
								<p class="main-text"><a href="{{path('campagne_index')}}">{{campagnes | length | number_format()}} campagnes(s)</a></p>
								<p class="text-muted">actives</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">           
						<div class="panel panel-back noti-box">
							<span class="icon-box bg-color-brown set-icon">
								<i class="fa fa-code"></i>
							</span>
							<div class="text-box" >
								<p class="main-text"><a href="{{path('homepage')}}">{{formulaires | length | number_format()}} formulaire(s)</a></p>
								<p class="text-muted">actifs</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">           
						<div class="panel panel-back noti-box">
							<span class="icon-box bg-color-brown set-icon">
								<i class="fa fa-user"></i>
							</span>
							<div class="text-box" >
								<p class="main-text"><a href="{{path('application_index')}}">{{applicationsAll | length | number_format()}} association(s)</a></p>
								<p class="text-muted">enregistrée(s)</p>
							</div>
						</div>
					</div>
				{% endblock body %}
			</div>
		</div>
		<!-- /. ROW  -->           
	</div>
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{{asset('admin/assets/js/bootstrap.min.js')}}"></script>
<!-- METISMENU SCRIPTS -->
<script src="{{asset('admin/assets/js/jquery.metisMenu.js')}}"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="{{asset('admin/assets/js/morris/raphael-2.1.0.min.js')}}"></script>
<script src="{{asset('admin/assets/js/morris/morris.js')}}"></script>
<!-- CUSTOM SCRIPTS -->

<!-- DATA TABLE SCRIPTS -->
<script src="{{asset('admin/assets/js/dataTables/jquery.dataTables.js')}}"></script>
<script src="{{asset('admin/assets/js/dataTables/dataTables.bootstrap.js')}}"></script>
<script>
$(document).ready(function () {
	$('#datatable').dataTable({
		"language": {
			"url": "{{asset('assets/French.json')}}",
			buttons: {
				copy: 'Copier',
				print: 'Imprimer',
				copyTitle: 'Ajouté au presse-papiers',
				copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
				copySuccess: {
					_: '%d lignes copiées',
					1: '1 ligne copiée'
				}
			}
		},
			//dom: 'Bfrtip',
			buttons: [
			'copy', 'excel', 'pdf', 'csv', 'print'
			],
		});
});
</script>
<!-- CUSTOM SCRIPTS -->
<script type="text/javascript">
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script src="{{asset('admin/assets/js/custom.js')}}"></script>


</body>
</html>
