<script type="text/javascript">
	//Calcul montant à recevoir lorsque valeur entrer dans une devise autre
	function convertAmount(val) {
		saisie = parseFloat($('#saisie').val());

		//on efface l'autre champs
		$('#saisieCfa').val('');

		devise = document.getElementById('devise').value;

		//Si la saisie n'est pas un nombre on la ramène à zéro
		if(isNaN(saisie)){
			saisie = 0;
		}

		//Si la saisie est un nombre et est supérieur ou égal à zéro on fait la conversion
		if(!isNaN(saisie) && saisie >= 0){
			lien = "{{path('build_to_pays', {'montant': 'AMOUNT', 'saDevise': 'DEVISE'})}}";
			lien = lien.replace('AMOUNT', saisie);
			lien = lien.replace('DEVISE', devise);
			$('.amountPay').load(lien, function(){
				$('#saisieCfa').val($('.montCfa').text());
			});
		}
	}

	function verifNumber(numero){
        first = charAt(0);
        second = charAt(1);
        third = charAt(2);

        if(second === "9"){
            return "ORANGE";
        }else if ((second === "7") || (second === "8")) {
            return "MTN";
        }else if (second === "5") {
            if(parseInt(third) <= 4){
                return "MTN";
            }else{
                return "ORANGE";
            }
        }else{
            return "ERROR";
        }
    }





	//Calcul montant à débiter lorsque valeur entrer en FCFA
	function toDebitAmount(val) {
		saisieCfa = parseInt($('#saisieCfa').val());

		devise = document.getElementById('devise').value;

		//Si la saisie n'est pas un nombre on la ramène à zéro
		if(isNaN(saisieCfa)){
			saisieCfa = 0;
		}

		//Si la saisie est un nombre et est supérieur ou égal à zéro on fait la conversion
		if(!isNaN(saisieCfa) && saisieCfa >= 0){
			lien = "{{path('build_to_debit', {'montant': 'AMOUNT', 'saDevise': 'DEVISE'})}}";
			lien = lien.replace('AMOUNT', saisieCfa);
			lien = lien.replace('DEVISE', devise);
			$('.amountPay').load(lien, function(){
				if($('.montP').text()){
					$('#saisie').val(Math.round(($('.montP').text() - $('.fraisInit').text()) * 100) / 100);
				}else{
					$('#saisie').val('');
				}
			});
		}
	}

	bool = 0;

	//On gère le cas où les frais de retraits sont pris en charge
	function fraisRetraitPris(){
		var checkBox = document.getElementById("fraisRetrait");
		var montantEnCfa = $('.montCfa').text();
		var montP = $('.montP').text();
		var fraisInit = $('.fraisInit').text();

		lien = "{{path('frais_mobile', {'montantInit': 'AMOUNTiNIT', 'montantEnCfa': 'AMOUNTCFA', 'frais': 'FRAISINIT', 'mobile': 'ETATMOBILE'})}}";
		lien = lien.replace('AMOUNTiNIT', montP);
		lien = lien.replace('AMOUNTCFA', montantEnCfa);
		lien = lien.replace('FRAISINIT', fraisInit);

		$('body').addClass('loading');
		if (checkBox.checked == true){
		    // On gère le cas où il prends en charge
			lien = lien.replace('ETATMOBILE', '0');
			bool = 1;
	  	} else {
		    // On gère le cas où il ne prends pas en charge
			var mobileFrais = $('.mobileFrais').text();
			lien = lien.replace('ETATMOBILE', mobileFrais);
	  	}
	  	$('.amountPay').load(lien, function(){
			if($('.fraisMOMO')){
				$('#saisie').val(Math.round((parseFloat($('.montP').text()) - parseFloat($('.fraisInit').text())) * 100) / 100);
			}
			$('#saisieCfa').val($('.montCfa').text() + $('mobileFrais').text());
			$('body').removeClass('loading');
		});
	}


function checkNumber(){
	numero = $('#numero').val();
	if(numero.length == 9){
		if(!isNaN(parseFloat(numero)) && isFinite(numero)){
			$('#nom').focus();
			$('#numero').css('border', '2px solid green');
			$('#error').css('display', 'none');
		}
	}else if(numero.length >= 9){
		$('#numero').css('border', '2px solid red');
		$('#numero').val('');
		$('#error').css('display', 'block');
	}
}

</script>