{% extends 'template/login.html.twig' %}
{% block name %}{{collecte.campagne.application}} | Campagne de {{collecte.campagne}}{% endblock %}
	{% block body %}
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="padding-right:0px;">
				<div class="form_wrapper form_wrapper-2">
					<div class="title_container">
						<a href="#">
							<img class="logo" src="{{asset('admin/assets/img/find_user.png')}}" class="img-responsive"/>
						</a>
						<h2>Formulaire propulsé par<b><a href="{{path('homepage')}}"> {{app_name}}</a></b></h2>
						<span style="color:#695e50">Gestion des collectes de Dons, CrowdFundings, contributions et adhésions</span>
					</div>
					<div class="">
						<h2 class="text-center" style="color:#c90000"><b>Fonds dédiés à {{collecte.campagne.application}}</b></h2>
					</div>
					<div class="clearfix">
						<hr>
						<h2 class="mon-h2 text-center label-perso-3">Choisissez un moyen pour payer le versement des <a href="">{{collecte.montant | number_format(2)}} <i class="fa fa-eur"></i></a> </h2>
						<form method="POST" id="formMethod" action="{{path('collecte_pay', {'campagne': collecte.campagne.nom, 'application': collecte.application.nom ,'id': collecte.id})}}">
							<center>
								<ul class="choix-moyen">
									<li><input required="" type="radio" name="moyen" value="3" class="moyenPay" id="cb3" />
										<label for="cb3"><img alt="Carte B" src="{{asset('images/cb.jpg')}}" /></label>
									</li>
									<li><input required="" type="radio" name="moyen" value="1" class="moyenPay moyenPay-2" id="cb1" />
										<label for="cb1"><img alt="PayPal" src="{{asset('images/paypal.png')}}" /></label>
									</li>
								</ul>
							</center>
							<input type="submit" name="choixMethod" id="_submit" class="submit" value="Continuer" />
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-5" style="padding-left:0px">
				<div class="description">
					<div class="title_container text-center row">
						<div class="col-md-4 col-md-offset-4">
							<img class="logo-appli" src="{{asset('Uploads/logos/')}}{{ collecte.campagne.application.logo }}" class="img-responsive"/>
						</div>
						<div class="col-md-12">
							<h3 class="text-center" style="color:#c90000"><b>Fonds dédiés à {{collecte.campagne.application}}</b></h3>
							<p>
								<span style="color:#695e50">Collecte de fonds pour la campagne de <a href="#">{{collecte.campagne}}</a></span>
							</p>
							<div class="row panel panel-info text-left" style="margin-left:1px">
								<div class="panel-heading">
									<h3 class="panel-title">Infos supplémentaires sur la collecte: <a href="" style="color:#c90000">{{collecte.campagne}}</a></h3>
								</div>
								<div class="panel-body">
									{{collecte.campagne.description | raw}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
		<script type="text/javascript">
			$('.moyenPay-2').click(function (argument) {
			    if($(this).is(':checked')){
			      $('#_submit').click();
			    }
		  	});
		</script>
	  	<script src="https://js.stripe.com/v3/"></script>
		<script type="text/javascript">
		  var stripe = Stripe('{{ api_key_stripe_pulic }}');
		  var checkoutButton = document.getElementById('cb3');

		  checkoutButton.addEventListener('click', function() {
		    stripe.redirectToCheckout({
		      // Make the id field from the Checkout Session creation API response
		      // available to this file, so you can provide it as argument here
		      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
		      sessionId: '{{CHECKOUT_SESSION_ID}}'
		    }).then(function (result) {
		      // If `redirectToCheckout` fails due to a browser or network
		      // error, display the localized error message to your customer
		      // using `result.error.message`.
		    });
		  });
		</script>
	{% endblock %}