{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Mes participations aux campagnes de collecte {% if application is defined %} <span style="color:#093983">[{{application}}]</span> {% endif %}</h2>   
        <h5>Afficher la liste des participants à une collecte, générer leur reçus et enregistez les collectes reçues manuellement hors site</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="col-md-12">
        <a href="{{path('collecte_new')}}" class="btn btn-link"> <i class="fa fa-plus-circle"></i> Enregistrer une collecte reçue en espèce</a>
    </div>
    <hr>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>Id <i class="pull-right fa fa-sort"></i></th>
                        <th>Campagne (Association) <i class="pull-right fa fa-sort"></i></th>
                        <th>Donnateur <i class="pull-right fa fa-sort"></i></th>
                        <th>Montant (<i class="fa fa-eur"></i>) <i class="pull-right fa fa-sort"></i></th>
                        <th>Date <i class="pull-right fa fa-sort"></i></th>
                        <th>Téléphone</th>
                        <th>Profession</th>
                        <th>Pays</th>
                        <th>Ville (Adresse)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                    {% for collecte in collectes %}
                        <tr>
                            <td><a href="">{{num}}</a></td>
                            <td><a href="">{{collecte.campagne}} <br>({{collecte.application}})</a></td>
                            <td>{{ collecte.nom }}</td>
                            <td>{{ collecte.montant }}</td>
                            <td>{% if collecte.dateCollecte %}{{ collecte.dateCollecte|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ collecte.telephone }}</td>
                            <td>{{ collecte.profession }}</td>
                            <td>{{ collecte.pays }}</td>
                            <td>{{ collecte.ville }}</td>
                            <td>
                                <a href="{{ path('collecte_show', { 'id': collecte.id }) }}"> <i class="fa fa-file-o"></i> Reçu</a>
                            </td>
                        </tr>
                    {% set num = num + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'collecte/active.html.twig' %}
{% endblock %}
