{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Ajout d'une collecte reçue manuellement</h2>   
        <h5>Remplissez le formulaire ci-dessous en respectant les champs. Certaines informations ne pourront plus être mise à jour après soumission</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'collecte/form.html.twig'%}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Valider et ajouter" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% include 'collecte/active.html.twig' %}
{% endblock %}
