{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collecte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collecte.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collecte.nom }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ collecte.montant }}</td>
            </tr>
            <tr>
                <th>Datecollecte</th>
                <td>{% if collecte.dateCollecte %}{{ collecte.dateCollecte|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ collecte.telephone }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ collecte.profession }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ collecte.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ collecte.ville }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collecte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('collecte_edit', { 'id': collecte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
