{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
    {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour {{user.username | upper}},
        Le service technique de KOBA viens de vous créer un compte {{user.level}}
        Merci de vous rendre sur {{confirmationUrl}}
        Ce lien ne peut être utilisé qu'une seule fois pour valider votre compte.

        Cordialement,
        KOBA
        L'équipe de Support Technique
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
