{% trans_default_domain 'FOSUserBundle' %}


<head>
    <title>Création de compte | KOBA Transfert</title>
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

    <link href="{{asset('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/css/pages.css')}}" rel="stylesheet" type="text/css" />

    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>

</head>
<body style="background:url({{asset('images/top-bg.svg')}}); background-size:cover;background-position:center center;">
    <div class="col-md-8 col-md-offset-2" style="background: rgba(2, 5, 25, 0.46)">

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin', 
    'style': '
    padding: 40px;
    color: rgba(204, 204, 204, 0.42);'}}) }}
    <h1 class="sign-title text-center" style="color: darkblue; text-transform: capitalize;">Créer un compte</h1>
        <div class="form-signin-heading text-center">
           <center>
                <img style="height:70px" src="{{asset('avalon/images/koba.png')}}">
            </center>
        </div>

        <div class="login-wrap col-md-12" style="input{ margin-top: 12%}">
            {# <p>Informations personnelles</p> #}
            {#
            {{ form_widget(form) }}
            #}

            <div class="col-md-6" style="color: lightgreen">

                {{ form_errors(form) }}

                {{ form_label(form.nom, "Votre nom") }}
                {{ form_widget(form.nom, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.username, "Login (Il sera utilisé pour vous connecter)") }}
                {{ form_widget(form.username, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.sexe, "Sexe") }}
                {{ form_widget(form.sexe, {'attr':{'style': 'background: transparent; color: white;margin-bottom: 42px;;'}}) }}

                {{ form_label(form.email, "Votre email") }}
                {{ form_widget(form.email, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.plainPassword.first, "Votre mot de passe") }}
                {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;', 'placeholder': 'Ex: junior'}}) }}
                {{ form_errors(form.plainPassword.first) }}

            </div>
            <div class="col-md-6" style="color: lightgreen">
                {{ form_label(form.cni, "Numéro de CNI/Passport") }}
                {{ form_widget(form.cni, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.telephone, "Votre téléphone") }}
                {{ form_widget(form.telephone, {'attr':{'class':'form-control', 'data-mask':'(+999) 999-99-99-99', 'placeholder': '(+...) ..-..-..-..', 'required': 'required', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.adresse, "Votre adresse") }}
                {{ form_widget(form.adresse, {'attr':{'class':'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}

                {{ form_label(form.plainPassword.second, "Verification du mot de passe") }}
                {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control', 'style': 'background: transparent; color: white;margin-bottom: 35px;', 'style': 'background: transparent; color: white;margin-bottom: 35px;'}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <br>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" value="" 
                        style="width: 23%;
                        margin-left: 39%;"><span class="glyphicon glyphicon-ok-sign"></span> {{ 'registration.submit'|trans }}</button>
                <div style="color:white" class="col-md-12">
                    Déjà enregistré(e).
                    <a href="{{path('fos_user_security_login')}}" class="pull-right btn btn-success">
                        Se Connecter
                    </a>
                </div>
            </div>

        </div>

        {{ form_end(form) }}

        <script>

            document.getElementById('fos_user_registration_form_sexe_1').style.marginLeft = '40px';

            document.getElementById('fos_user_registration_form_sexe_0').style.marginRight = '8px';
            document.getElementById('fos_user_registration_form_sexe_0').style.cursor = 'pointer';

            document.getElementById('fos_user_registration_form_sexe_1').style.marginRight = '8px';
            document.getElementById('fos_user_registration_form_sexe_1').style.cursor = 'pointer';
        </script>
        <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
    </div>
</body>
