{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-md-12 text-center" style="    
    padding: 20px;
    background: #009688;
    color: white;">
      {{messageConfirm | raw }}
    </div>
    <div class="col-md-12">
        <div class="col-md-12 mt-3 text-center">Lien non reçu ? 
            <a href="{{path('code_verificaion', {'email': email, 'renvoie': 'ok'})}}" class="btn btn-link">Cliquez pour renvoyer</a> <i class="fa fa-send"></i> 
        </div>
    </div>
</div>
<hr>
{% endblock fos_user_content %}