<form class="" action="{{ path("fos_user_security_check") }}" style="" method="post">
   <div class="row" style="">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        {% endif %}
        {% if error %}
            <div class="text-center" style="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <p class="text-center">Connectez-vous pour continuer</p>
        <div class="col-md-12 margin_top_10">
            <div class="field">
                <input class="input-perso" type="text" id="username" name="_username" value="" required="required" placeholder="Votre email" style="" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="field">
                <input class="input-perso" type="password" id="password" name="_password" required="required" placeholder="Mot de passe" style="" />
            </div>
        </div>
        <div class="col-md-12 row basZone">
            <div class="col-md-12">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <span style="" for="remember_me">Rester connecté ?</span>

                <span class="pull-right">
                    <a style="color: orange;" href="{{path('fos_user_resetting_request')}}"> Mot de passe oublié?</a>
                </span>
            </div>
        </div>
        <div class="col-md-12 row margin_top_30">
            <div class="col-md-12">
                <button type="submit" id="_submit" class="submit_bt col-xs-12 col-md-2" name="_submit" value="{{ 'security.login.submit'|trans }}"><i class="fa fa-check"></i> Connexion
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Mot de passe Oublié ?</h4>
                </div>
                <div class="modal-body">
                    <p>Entrer votre mot addresse email pour reinitialiser votre mot de passe.</p>
                    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                    <button class="btn btn-primary" type="button">Valider</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
</form>        
      