<div class="" style="margin-bottom: 8%;">
    <div class="col-md-12">
        {{ form_errors(form) }}
    </div>
    {{ form_start(form, {'method': 'post', 'action': path('authentification'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <p class="text-center">Créer votre compte maintenant</p>
    <div class="row margin_top_10">
        <div class="col-md-6 mt-1">
            <div class="full field">
                {{ form_widget(form.nom,{'attr':{'class':'input-perso','placeholder':'Votre nom', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="full field">
                {{ form_widget(form.email,{'attr':{'class':'input-perso','placeholder':'Votre email'}}) }}
                <span style="color: red">{{ form_errors(form.email) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="full field">
                {{ form_widget(form.plainPassword.first,{'attr':{'class':'input-perso','placeholder':'Mot de passe'}}) }}
                <span style="color: red">{{ form_errors(form.plainPassword.first) }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="full field">
                {{ form_widget(form.plainPassword.second,{'attr':{'class':'input-perso','placeholder':'Confirmer le mot de passe'}}) }}
                <span style="color: red">{{ form_errors(form.plainPassword.second) }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-1">
            <button type="submit" class="submit_bt">Créer mon compte
                </button>
        </div>
    </div>
        {{ form_end(form) }}

    </div>
    <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
</div>