<div class="comment">
	{{ form_start(form, {'attr': {'method':'post', 'action':path('versement_comment', {'id': versement.id})}}) }}
	<div class="col-md-12 mb-3">
		{{ form_widget(form.commentaire, {'attr':{'class':'form-control'}}) }}
	</div>
	<div class="col-md-12">
		<input type="submit" class="btn btn-success" value="Soumettre le commentaire" />
	</div>
	{{ form_end(form) }}
</div>