{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Editer une demande de versement de fonds</h2>   
        <h5>Remplissez le formulaire ci-dessous pour demander un versemment de fonds collectés par <a href="">{{app_name}}</a> dans vos comptes personnels</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'application/form.html.twig'%}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Modifier et soumettre" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
{% endblock %}
