{{ form_start(form) }}
<div class="col-md-12">
    <p class="text-center" 
    style="font-size: 30px;
    background: #202020;
    color: white;
    padding: 8px;">Solde courant: <span style="color:yellow">{{solde | number_format(2)}}<i class="fa fa-eur"></i></span></p>
</div>
    <div class="col-md-6">
        <div class="col-md-12 mb-3">
            <label>Quel montant souhaitez-vous vous faire verser ? <span style="color:red">*</span></label>
            {{ form_widget(form.montant, {'attr':{'class':'form-control', 'min':'{{frais.minimum}}', 'max':'{{frais.maximum}}', 'type':'number', 'step':'0.01','placeholder':'Montant en € *'}}) }}

            <input type="number" id="montantCache" maxlength="1000" disabled="disabled" class="form-control hide" min="{{frais.minimum}}" max="{{frais.maximum}}" step="0.01" placeholder="Montant en € *">

            <span style="color:red">Min: {{frais.minimum}}<i class="fa fa-eur"></i> | Max: {{frais.maximum}}<i class="fa fa-eur"></i></span>
        </div>
        <div class="row">
            <div class="col-md-12 blocSubmit">
                <div class="col-md-12 mb-3 hide">
                    <label>Montant à rentenir par <a href="">{{app_name}}</a> <span class="frais">(Taux de retrait: {{frais.pourcentage}}%)</span></label> <br>
                    {{ form_widget(form.retenue, {'attr':{'disabled':'disabled'}}) }}
                </div>   
                <div class="col-md-12 mb-3 hide">
                        <label>Net à percevoir</label> <br>
                        {{ form_widget(form.percevoir, {'attr':{'disabled':'disabled'}}) }}
                </div> 
                <div class="col-md-12 mt-3">
                    <input type="button" onclick="buildRetenue()" class="btn btn-success" value="Valider et soumettre" />
                </div> 
            </div>
        </div>
    </div> 
<div class="col-md-6">
    <h2>Informations utiles</h2>
    <ol>
        <li>
            Le traiement de votre demande de versement peut prendre jusqu'à <a href="">48h</a> en raison du montant souhaité.   
        </li>
        <li>
            Le versement ne peut pas être effectué si nous n'avons pas vos coordonnées bancaires <a href="{{path('banque_new')}}">Renseignez vos coordonnées bancaires ici.</a>  
        </li>
        <li>
            Une fois votre demande soumise vous pouvez la modifier ou l'annuler si celle-ci n'a pas encore été traitée.</a>  
        </li>
        <li>
            Vous pouvez consulter à tout moment l'état de traitement de votre demande en <a href="{{path('versement_index')}}">cliquant ici.</a>
        </li>
    </ol>
</div> 
<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
<script type="text/javascript">
    $('#appbundle_versement_montant').attr('type', 'number');
    $('#appbundle_versement_montant').focus();
    function buildRetenue() {
        lien = "{{path('build_retenue', {'montant': 'MONT', 'solde':'SOLD'})}}";
        lien = lien.replace('MONT', $('#appbundle_versement_montant').val());
        lien = lien.replace('SOLD', '{{solde}}');
        $('.blocSubmit').load(lien, function function_name(argument) {
            $('#montantCache').val($('#appbundle_versement_montant').val());
            $('#montantCache').removeClass('hide');
            $('#appbundle_versement_montant').attr('type', 'hidden');
        });
    }
</script>