{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Liste des dernières demandes de versements</h2>   
        <h5>Demandez et gérez vos versements, consultez les états de traitement de vos versements</h5>
    </div>
{% endblock tete %}

{% block body %}
    {% if app.user.level.rightToken != "ROLE_ADMIN" %}
        <div class="col-md-12">
            <a href="{{path('versement_new')}}" class="btn btn-link"> <i class="fa fa-plus-circle"></i> Faire une nouvelle demande</a>
        </div>

        <div class="col-md-12 text-center">
            <i style="color:red">
                Vos versements ne peuvent être effectués si nous n'avons pas vos coordonnées bancaires. <br> <a href="{{path('banque_new')}}">Renseignez vos coordonnées bancaires ici.</a>  
            </i>
        </div>
        <hr>
        <hr>
    {% endif %}
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date demande</th>
                        <th>Montant</th>
                        <th>Retenue</th>
                        <th>Net à percevoir</th>
                        <th>Statut</th>
                        <th>Commentaire</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                        {% for versement in versements %}
                            <tr>
                                <td><a href="">{{ num}}</a></td>
                                <td>{% if versement.dateDemande %}{{ versement.dateDemande|date('Y-m-d à H:i:s') }}{% endif %}</td>
                                <td>{{ versement.montant }} <i class="fa fa-eur"></i></td>
                                <td>{{ versement.retenue }} <i class="fa fa-eur"></i></td>
                                <td>{{ versement.percevoir }} <i class="fa fa-eur"></i></td>
                                <td>{% if versement.statut %} <span class="label label-success">Traité</span> {% else %} <span class="label label-warning">En cours</span> {% endif %}</td>
                                <td>
                                    <div class="comment-{{versement.id}}">
                                        {{ versement.commentaire | raw }}
                                    </div>
                                </td>
                                <td>
                                    {% if app.user.level.rightToken != "ROLE_ADMIN"%}
                                        <a href="{{ path('versement_show', { 'id': versement.id }) }}"><i class="fa fa-file-o"></i> Reçu</a>
                                    {% else %}
                                        {% if versement.statut == false %}
                                            <a href="{{ path('versement_solve', { 'id': versement.id }) }}"><i class="fa fa-check"></i> Traiter</a> <br>
                                            <a onclick="comment({{versement.id}});" href="javascript:void(0)"><i class="fa fa-comment"></i> Commenter</a>
                                        {% else %}
                                            //
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% set num = num + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <script type="text/javascript">
                function comment(idVersement) {
                    lien = "{{path('versement_comment', {'id': "IDV"})}}";
                    lien = lien.replace("IDV", idVersement);
                    $('.comment-'+idVersement).load(lien, function function_name(argument) {
                        $('#appbundle_versement_commentaire').focus();
                    });
                }
            </script>
        {% endblock %}
