{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Faire une demande de versement de fonds</h2>   
        <h5>Remplissez le formulaire ci-dessous pour demander un versemment de fonds collectés par <a href="">{{app_name}}</a> dans vos comptes personnels</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="col-md-12">
        <div class="">
            <div class="row">
                <div class="col-md-12 testons">
                {% include 'versement/form.html.twig'%}
                    <div class="col-md-12">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
{% endblock %}
