{% extends 'base.html.twig' %}

{% block body %}
    <h1>Versement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ versement.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ versement.montant }}</td>
            </tr>
            <tr>
                <th>Retenue</th>
                <td>{{ versement.retenue }}</td>
            </tr>
            <tr>
                <th>Percevoir</th>
                <td>{{ versement.percevoir }}</td>
            </tr>
            <tr>
                <th>Datedemande</th>
                <td>{% if versement.dateDemande %}{{ versement.dateDemande|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('versement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('versement_edit', { 'id': versement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
