{% if retenue == "error" %}
    <h2 class="col-md-12">Montant incorrect <small><a href="{{path('versement_new')}}">Corrigez et reessayez !</a></small></h2>
    <div class="col-md-12 mb-3 hide">
        <label>Montant à rentenir par <a href="">{{app_name}}</a> <span class="frais">(Taux de retrait: {{frais.pourcentage}}%)</span></label> <br>
        
    </div>   
    <div class="col-md-12 mb-3 hide">
            <label>Net à percevoir</label> <br>
           
    </div> 
    <div class="col-md-12 mt-3">
        <input type="button" onclick="buildRetenue()" class="btn btn-success" value="Valider et soumettre" />
    </div> 
{% else %}
    <div class="col-md-12 mb-3">
        <label>Montant à rentenir par <a href="" target="_blank">{{app_name}}</a> <span class="frais">(Taux de retrait: {{frais.pourcentage}}%)</span></label> <br>
        <input type="text" disabled="disabled" class="taux form-control" style="" value="{{retenue}}€" name="retenue">
    </div>   
    <div class="col-md-12 mb-3">
        <label>Net à percevoir</label> <br>
        <input type="text" disabled="disabled" class="taux percu form-control" style="" value="{{percevoir}}€" name="retenue">
    </div> 
    <div class="col-md-12 mt-3">
        <input type="submit" class="btn btn-success" value="Confirmer l'envoie de la demande" /> <a href="{{path('versement_new')}}">Corriger le montant ?</a>
    </div> 
{% endif %}