{% extends 'base.html.twig' %}

{% block content -%}
    <h2>Liste des droits</h2>

    <table class="records_list table table-hover panel panel-color panel-custom table-bordered">
        <thead class="">
            <tr>
                <th class="" style="color: blue; font-weight: unset;">Id</th>
                <th class="" style="color: blue; font-weight: unset;">Nom du privillège(Droit)</th>
                <th class="" style="color: blue; font-weight: unset;">Ayant(s) droit</th>
                <th class="" style="color: blue; font-weight: unset;">Description</th>
                <th class="" style="color: blue; font-weight: unset;">Détails</th>
                <th class="" style="color: blue; font-weight: unset;">Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('droit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity }}</td>
                    <td><b>{{ entity.membreDuDroit }}</b></td>
                    <td>{{ entity.description }}</td>
                    <td>
                        <a href="{{ path('droit_show', { 'id': entity.id }) }}">show</a>
                    </td>
                    <td>
                        <a href="{{ path('droit_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('droit_new') }}">
                Ajouter un droit
            </a>
        </li>
    </ul>
{% endblock %}
