{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-12" style="text-align:center">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="row col-md-12">
        <button class="submit_bt" type="submit" value="{{ 'change_password.submit'|trans }}"> <i class="fa fa-check"></i> Modifier</button>
    </div>
    {{ form_end(form) }}
</div>
<style type="text/css">
	input{
		margin-bottom: 20px;
	}
</style>