{% extends 'home.html.twig' %}
{% block tete %}
    {% if app.user.level.rightToken != 'ROLE_ADMIN' %}
        <div class="col-md-12">
            <h2>Mon profile
            </h2>   
            <h5>Gérer vos informations personnelles et vos identifiants. Vous pouvez également paramétrer vos coordonnées bancaires pour les retraits ou demande de versement.</h5>
        </div>
    {% else %}
        <div class="col-md-12">
            <h2>Modification  des informations sur l'utilisateur</h2>   
            <h5>Nom de l'utilisateur: <b>{{utilisateur.nom}}</b></h5>
        </div>
    {% endif %}
{% endblock tete %}


{% block menu %}
    {% include 'partial/menus/menu_general.html.twig' with {applications : null} %} 
{% endblock %} 

{% trans_default_domain 'FOSUserBundle' %}

    {% block body %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-border panel-custom">
                {% if true %}
                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                        <div class="row">
                            <div class="col-md-6">   
                                <div class="form-group">
                                    {{ form_label(edit_form.nom, "Nom complet") }}
                                    {{ form_widget(edit_form.nom,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(edit_form.codePostal) }}
                                    {{ form_widget(edit_form.codePostal,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(edit_form.pays) }}
                                    {{ form_widget(edit_form.pays,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(edit_form.email) }}
                                    {{ form_widget(edit_form.email,{'attr':{'class':'form-control'}}) }}
                                    <span style="color: red">{{ form_errors(edit_form.email) }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(edit_form.telephone) }}
                                    {{ form_widget(edit_form.telephone,{'attr':{'class':'form-control', 'data-mask':'(+999) 999-99-99-99', 'placeholder': '(+033) 679-63-15-80', 'required': 'required'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 hide">  
                                <div class="form-group">
                                    <label>CNI - PassePort</label> <br>
                                    {% if utilisateur.cni %} <a target="_blank" class="label label-success" href="{{asset('Uploads/cni/')~utilisateur.cni}}">Télécharger</a>{% else %} Aucun fichier{% endif %}   
                                        <a target="_blank" class="label label-warning" href="{{path('user_edit_cni')}}">Modifier / upload</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(edit_form.adresse) }}
                                        {{ form_widget(edit_form.adresse,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(edit_form.typeCompte) }}
                                        {{ form_widget(edit_form.typeCompte,{'attr':{'class':''}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 hide">  
                                    <div class="form-group">
                                        {{ form_label(edit_form.username, "Nom d'utilisateur (Il sera utlise pour vous connecter)") }}
                                        {{ form_widget(edit_form.username,{'attr':{'class':'form-control'}}) }}
                                        <span style="color: red">{{ form_errors(edit_form.username) }}</span>
                                    </div>
                                </div>
                        </div>
                        <table class="pull-right">
                            <tr>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Modifier" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                {% if  app.user.level == 'Administrateur' %}
                                    <td>
                                        <a class="btn btn-custom btn-primary" href="{{ path('utilisateur_index') }}">
                                            Retour à la liste
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a class="btn btn-primary btn-custom " href="{{ path('homepage') }}">
                                            Retour à l'accueil
                                        </a>
                                    </td>
                                {% endif %}
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        {{ form_end(edit_form) }}

                    </div>
                    {% else%}
                    <div class="panel-body">
                        {{ form_start(edit_form) }}

                        <div class="row">
                            <div class="col-md-4 col-md-offset-3">  
                                <div class="form-group">
                                    {{ form_label(edit_form.level, "Rôle de l'utilisateur") }}
                                    {{ form_widget(edit_form.level,{'attr':{'class':'form-control btn dropdown-toggle btn-default btn-custom'}}) }}
                                    <br>
                                    <br>
                                    {{ form_label(edit_form.entreprise) }}
                                    {{ form_widget(edit_form.entreprise,{'attr':{'class':'form-control btn dropdown-toggle btn-inverse btn-custom'}}) }}
                                </div>
                            </div>
                        </div>
                        <table class="col-md-4 col-md-offset-3">
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input class="btn btn-custom btn-info" type="submit" value="Modifier" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a class="btn btn-custom btn-default" href="{{ path('utilisateur_index') }}">Retour à la liste
                                </a>
                            </td>
                        </tr>
                    </table>
                    {{ form_end(edit_form) }}

                </div>
            {% endif %}

        </div>
    </div>
    {% include 'utilisateur/active.html.twig' %}
    <script>
        //document.getElementById('userbundle_utilisateur_telephone').type = 'number';

        </script>
        <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
    {% endblock %}
