{% extends 'home.html.twig' %}
{% block title %}
 Gestion des utilisateurs | {{parent()}}
{% endblock %}

{% block tete %}
    <div class="col-md-12">
        <h2>Liste des comptes clients</h2>   
        <h5>Créer et gérer les utilisateurs de la plateforme <a href="">{{app_name}}</a>.</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="panel-body col-md-12">
        <div class="adv-table">
            <table   class="table table-hover table-bordered table-responsive table-striped" id="datatable">
                <thead class="">
                    <tr>
                        <th class="" style="">Nom complet</th>
                        <th class="" style="">Téléphone</th>
                        <th class="" style="">Rôle</th>
                        <th class="" style="">Email</th>
                        <th class="" style="">Act. / Désact.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for utilisateur in utilisateurs %}
                        <tr>
                            <td>
                                <span style="color: #2b0b3d"><b>{{ utilisateur.nom |upper }}</b></span>
                                {% if app.user.username != utilisateur.username %}
                                    <span class="input-group pull-right">
                                        <button  class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <span class="fa fa-caret-down"></span>

                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}"><i class="fa fa-eye"></i> Voir Utilisateur</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}"><i class="fa fa-edit"></i> Editer Utilisateur</a>
                                            </li>
                                                        {#
                                                        <li>
                                                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}"><i class="fa fa-trash"></i> Supprimer Utilisateur</a>
                                                        </li>
                                                        #}
                                                    </ul>
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td>{{ utilisateur.telephone }}</td>
                                        <td><span style="color: #2b0b3d">{{ utilisateur.level }}</span></td>
                                        <td>{{ utilisateur.email }}</td>
                                        <td>
                                            {% if app.user.username == utilisateur.username %}
                                                <span class="label label-success">Utilisateur Connecté</span>                        

                                            {% else %}
                                                {% if utilisateur.enabled %}
                                                    <a href="{{ path('utilisateur_disable', { 'id': utilisateur.id }) }}" class="btn btn-danger btn-custom waves-effect waves-lightr" > Bannir
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('utilisateur_enable', { 'id': utilisateur.id }) }}" class="btn btn-purple btn-custom waves-effect waves-light">Activer</a>
                                                {% endif %}
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include 'utilisateur/active.html.twig' %}
            {% endblock %}

