{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-border panel-custom" style="background: #ebeff2">
                <header class="panel-heading">
                    <h1 class="panel-title">Enregistrement d'un nouvel utilisateur</h1>
                </header>
                <div class="panel-body purple" style="margin-bottom: 8%;">
                    {{ form_errors(form) }}
                    {{ form_start(form, {'method': 'post', 'action': path('enseignant_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="row">
                        <div class="col-md-6">   
                            <div class="form-group">
                                {{ form_label(form.nom, "Nom complet de l'utilisateur") }}
                                {{ form_widget(form.nom,{'attr':{'class':'form-control', 'required': 'required'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.sexe) }}
                                {{ form_widget(form.sexe,{'attr':{'class':''}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control'}}) }}
                                <span style="color: red">{{ form_errors(form.plainPassword.first) }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
                                <span style="color: red">{{ form_errors(form.plainPassword.second) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">  
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                <span style="color: red">{{ form_errors(form.email) }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.telephone) }}
                                {{ form_widget(form.telephone,{'attr':{'class':'form-control', 'data-mask':'(+999) 999-99-99-99', 'placeholder': '(+033) 679-63-15-80', 'required': 'required'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">  
                            <div class="form-group">
                                {{ form_label(form.cni) }}
                                {{ form_widget(form.cni,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.adresse) }}
                                {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">  
                            <div class="form-group">
                                {{ form_label(form.level, "Type d'utilisateur") }}
                                {{ form_widget(form.level,{'attr':{'class':'form-control btn dropdown-toggle btn-default btn-custom', 'style': 'text-transform: uppercase'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">  
                            <div class="form-group">
                                {{ form_label(form.username, "Nom d'utilisateur (Il sera utilisé pour se connecter)") }}
                                {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                                <span style="color: red">{{ form_errors(form.username) }}</span>
                            </div>
                        </div>
                    </div>
                    <table class="pull-right">
                        <tr>
                            <td>
                                <input class="ladda-button btn-custom ladda-button-demo btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <a class="btn btn-inverse btn-custom waves-effect waves-light" href="{{ path('utilisateur_index') }}">Retour à la liste
                                </a>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    {{ form_end(form) }}

                </div>
            </div>
            <script>
                //document.getElementById('fos_user_registration_form_telephone').type = 'number';

                document.getElementById('fos_user_registration_form_sexe_1').style.marginLeft = '40px';

                document.getElementById('fos_user_registration_form_sexe_0').style.marginRight = '8px';
                document.getElementById('fos_user_registration_form_sexe_0').style.cursor = 'pointer';

                document.getElementById('fos_user_registration_form_sexe_1').style.marginRight = '8px';
                document.getElementById('fos_user_registration_form_sexe_1').style.cursor = 'pointer';
            </script>
            <script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
        </div>
    </div>
{% endblock %}
