{% extends 'home.html.twig' %}
{% block title %}
 Information sur l'utilisateur {{utilisateur}} | {{parent()}}
{% endblock %}

{% block tete %}
    <div class="col-md-12">
        <h2>Détail sur l'utilisateur <span style="color:#093983">[{{utilisateur}}]</span></h2>   
        <h5>Créer et gérer les utilisateurs de la plateforme <a href="">{{app_name}}</a>.</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Nom complet</th>
                    <td>{{ utilisateur.nom }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ utilisateur.email }}</td>
                </tr>
                <tr>
                    <th>Numero de téléphone</th>
                    <td>{{ utilisateur.telephone }}</td>
                </tr>
                <tr>
                    <th>Type d'utilisateur</th>
                    <td>{{ utilisateur.level }} <a href="">{{app_name}}</a></td>
                </tr>
                <tr>
                    <th>Type de structure</th>
                    <td>{{ utilisateur.typeCompte }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ utilisateur.adresse }}</td>
                </tr>
                <tr>
                    <th>Login</th>
                    <td>{{ utilisateur.username }}</td>
                </tr>
                <tr>
                    <th>Dernière connexion le</th>
                    <td>{{ utilisateur.lastLogin | date("Y-m-d à H:i:s") }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <tr>
                <td>
                    <a class="btn btn-info" href="{{ path('utilisateur_index') }}">Retour à la liste</a>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <a class="btn btn-success" href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">Modifier</a>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    {% if app.user.username != utilisateur.username %}
                    {#
                    <input data-toggle="modal" data-target=".modaldel" class="btn btn-danger" type="button" value="Supprimer">
                    {{ form_start(delete_form) }}
                    <div class="modal fade modaldel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-md">
                            <div class="panel panel-color ">
                                <div class="panel-heading" style="background: ">
                                    <h1 class="alert-danger text-uppercase">Alerte suppression</h1>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Confirmer la suppression de l'utilisateur <strong class="text-uppercase">{{utilisateur.nom}}</strong> ?
                                    </p>
                                    <input class="btn btn-danger pull-right" type="submit" value="Valider">
                                </div>
                            </div>
                        </div>
                    </div>
                    #}
                    {{ form_end(delete_form) }}
                    {% endif%}
                </td>
            </tr>
        </table>
    </div>
    {% include 'utilisateur/active.html.twig' %}
{% endblock %}
