{% extends 'index.html.twig' %}

{% block haut %}
{% endblock haut %}

{% block content %}
<div class="full row">
	<div class="row">
      	<div class="label-perso">
        	Envoie de <span class="mont">{{transfert.montant | number_format(2)}} {{transfert.devise}} </span>
          <br>(<span class="curr label-perso-2">{{transfert.percevoir | number_format(0)}} FCFA</span>)
          <br>
          <center style="font-size:16px">
            A <br> {{transfert.recepteur.numero}}, <span class="mont">{{transfert.recepteur}}</span>
          </center>
      	</div>
    </div>
    <div class="margin_top_30">
    	{% if app.user %}
        <h2 class="mon-h2 text-center label-perso-3">Vous continuez avec ?</h2>
          <form method="POST" id="formMethod" action="{{path('choix_pay_method')}}">
            <center>
              <ul>
                <li><input required="" type="radio" name="moyen" value="3" class="moyenPay" id="cb3" />
                  <label for="cb3"><img alt="Carte B" src="{{asset('images/cb.jpg')}}" /></label>
                </li>
                <li><input required="" type="radio" name="moyen" value="1" class="moyenPay moyenPay-2" id="cb1" />
                  <label for="cb1"><img alt="PayPal" src="{{asset('images/paypal.png')}}" /></label>
                </li>
                <!--
                <li><input required="" type="radio" name="moyen" value="2" id="cb2" />
                  <label for="cb2"><img alt="Carte bank" src="https://www.union-dentaire.com/wp-content/uploads/2018/02/payment-cb.png" /></label>
                </li> -->
              </ul>
            </center>
            <button type="submit" class="hidden" name="choixMethod" id="_submit" class="submit_bt col-xs-12 col-md-2" name="_submit">Continuer <i class="fa fa-arrow-right"></i>
            </button>
          </form>
      {% else %}
            <!-- Nav tabs -->
      <ul class="nav nav-tabs tabElt" role="tablist">
        <li role="presentation" class="active">
          <a href="#signIn" aria-controls="signIn" role="tab" data-toggle="tab">J'ai un compte</a>
        </li>
        <li role="presentation">
          <a href="#signUp" aria-controls="signUp" role="tab" data-toggle="tab">j'ai pas de compte</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="signIn">
          {% include 'partial/login/signIn.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="signUp">
          {% include 'partial/login/signUp.html.twig' %}
        </div>
      </div>
      {% endif %}
		</div>
    </div>
</div>

<script type="text/javascript">
  $('.moyenPay-2').click(function (argument) {
    if($(this).is(':checked')){
      $('#_submit').click();
    }
  });
</script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe('{{ api_key_stripe_pulic }}');
  var checkoutButton = document.getElementById('cb3');

  checkoutButton.addEventListener('click', function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as argument here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '{{CHECKOUT_SESSION_ID}}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
</script>

{% endblock content%}