{% extends 'index.html.twig' %}

{% block haut %}
{% endblock haut %}

{% block content %}
  <form class="" method="POST" action="{{path('add_new_contact')}}">
    <div class="full row">
    	<div class="row">
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="montant" value="{{montant}}">
            <input type="hidden" name="devise" value="{{devise.id}}">
          	<div class="label-perso">
            	Envoie de <span class="mont">{{montant | number_format(2)}} {{devise}} </span><br>(<span class="curr label-perso-2">{{recevoir | number_format(0)}} FCFA</span>)
          	</div>
        </div>
        <div class="col-md-12 col-xs-12 label-perso-3" style="padding: 10px;text-align: center;">Choisissez votre bénéficiaire</div>
        <div class="margin_top_30 row">
          <ul class="nav nav-tabs tabElt" role="tablist">
            <li role="presentation" class="active">
              <a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">
                MTN/Orange <img style="height:20px" src="{{asset('images/mobile-money.jpg')}}">
              </a>
            </li>
            <li role="presentation">
              <a href="#koba" aria-controls="koba" role="tab" data-toggle="tab">Compte KOBA</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="mobile">
                <div class="col-md-12 col-xs-12" style="padding-top:20px">
                  <select class="choix-contact" name="recept" required style="width:100%">
                    <option value="0">- Mon repertoire Koba -</option>
                    {% for contact in repertoires %}
                      <option value="{{contact.id}}">{{contact.numero}}, {{contact.nom}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-12 col-xs-12 label-perso-3">
                  <a class="lien" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus-circle"></i> Nouveau ? (<span style="color:#233d8d">Ajouter un beneficiaire OM ou MTN</span>)</a>
                </div>
                <div class="col-xs-12 button_section margin_top_30">
                  <button class="submit_bt col-md-12" id="bouton-next" type="submit" class="">Suivant <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="koba">
              <div class="col-md-12">
                <div class="full field" style="padding-top:20px">
                  <input type="email" placeholder="Email du bénéficiare" name="emailRecept" />
                <div class="col-xs-12 button_section margin_top_30">
                  <button class="submit_bt col-md-12" id="bouton-next" type="submit">Suivant <i class="fa fa-arrow-right"></i></button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title label-perso" id="exampleModalLabel">Ajouter un bénéficiare</h5>
          <button style="color:red; margin-top:-25px" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="" method="POST" action="{{path('add_new_contact')}}">
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="devise" value="{{devise.id}}">
            <input type="hidden" name="montant" value="{{montant}}">
          	<div class="modal-body">
              <label style="color:#0000009e">Saisissez le numéro du compte OM/MTN Money <img style="height:25px" src="{{asset('images/mobile-money.jpg')}}"></label>
    	        <input onkeyup="checkNumber()" required="required" type="text" id="numero" class="input-perso police-20" placeholder="Numéro Orange/MTN MoMo *" name="numero">
              <span id="error">Numéro incorrect</span> <br>
              <label style="color:#0000009e">Saisissez le nom associé au compte OM/MTN Money</label>
    	        <input required="required" type="text" id="nom" class="input-perso police-20" placeholder="Nom complet *" name="nom">
          	</div>
          	<div class="modal-footer">
    	        <button type="submit" class="submit_bt"><i class="fa fa-plus-circle"></i> Continuer</button>
              <br>
              <button type="button" class="btn btn-secondary margin_top_10" data-dismiss="modal">Annuler</button>
          	</div>
        </form>
      </div>
    </div>
  </div>



<script type="text/javascript">
    $(document).ready(function() {
        $('.choix-contact').select2();
    });
</script>
{% endblock content%}