{% extends 'index.html.twig' %}

{% block haut %}
{% endblock haut %}

{% block content %}
  <form class="" method="POST" action="{{path('envoie_number', {'id':repertoire.id})}}">
    <div class="full row">
    	<div class="row">
        	<div class="label-perso">
          	Envoie d'argent à <br><span class="curr label-perso-2">{{repertoire}}, ({{repertoire.numero}})</span>
        	</div>
      </div>
      <fieldset class="row">
          <div class="col-xs-6" style="z-index:9;padding-right: 0px;">
            <input required="required" min="10" onkeyup="convertAmount()" type="number" step="0.01" id="saisie" class="input-perso police-20" placeholder="A envoyer (EUR)" name="montant">
              <div style="font-size: 12px;color: red;margin-top: -10px;font-family: Raleway;">Min:  {{config.min}} {{base.symbole}} | Max:  {{config.max}} {{base.symbole}}</div>
          </div>
          <div class="col-xs-6" style="padding-left: 0px;">
            <input min="2" onkeyup="toDebitAmount()" type="number" step="0.01" id="saisieCfa" class="input-perso police-20" placeholder="A recevoir (XAF)" name="montantCfa">
            <div style="font-size: 12px;color: red;margin-top: -10px;font-family: Raleway;">Min: 700 XAF</div>
          </div>
          <input type="hidden" id="devise" name="devise" base="{{devises[0].base}}" value="{{devises[0].id}}" taux="{{devises[0].taux}}">
        </fieldset>
        <div class="amountPay row">
            <div class="col-md-5 col-sm-6 col-xs-5 hide">
              <div class="label-perso-3" style="font-size:17px">
                A recevoir: 
              </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-7 hide">
              <div class="label-perso-2">
                <span class="mont">0.00</span>
                <span class="curr">FCFA</span>
              </div>
            </div>
            <center>
              <div class="col-xs-12 button_section margin_top_30">
                  <button class="submit_bt" name="envoie" id="bouton-next" type="submit" class="">Suivant <i class="fa fa-arrow-right"></i></button>
              </div>
            </center>
        </div>
      </div>
    </form>
  <!-- Modal -->


{% include 'mesScript.html.twig' %}

{% endblock content%}