<div class="col-md-12 amountPay">
  {% if amount %}
	<div class="label-perso-3">
	  	Frais d'envoi
	  	<span class="pull-right">+<span class="fraisInit">{{frais}}</span> EUR</span>
  	</div>
	{% if mobile is defined %}
		<div class="label-perso-3 fraisMOMO">
			Frais MTN/Orange
			<span class="pull-right">+<span class="retraitMobile">{{mobile | number_format(2)}}</span> EUR</span>
			<span class="mobileFrais hide">{{mobile}}</span>
		</div>
	{% endif %}
	<div class="label-perso-3" style="font-size: 18px">
	  	Total à débiter 
	  	<span class="pull-right"><span class="montP">{{(amountInit + frais) | number_format(2)}}</span> EUR</span>
  	</div>
	  <div class="label-perso-3 hide">
	  	Montant à recevoir 
	  	<span class="pull-right">{{(amountInit)| number_format(2)}} EUR</span>
	  </div>
	  <div class="label-perso-3 benef">
	  	A percevoir 
	  	<span class="pull-right"><span class="montCfa">{{amount | round }}</span> XAF</span>
	  </div>
  	<div class="mt-1">
        <label style="font-size: 14px;cursor:pointer;color:black;margin-top:5px" for="fraisRetrait">
          <input onclick="fraisRetraitPris()" type="checkbox" {% if mobile is defined %} checked="checked" {% endif %} name="fraisRetrait" id="fraisRetrait"> Je prends en charge le retrait OM/MoMo
        </label>
  	</div>
  	<div class="text-center">
	  	<b class="mont">1 EUR = {{taux}} FCFA</b>
  	</div>
  	<div class="col-md-12">
    	<button class="btn-perso col-md-12 submit_bt" name="envoie" id="bouton-next" type="submit" class="">Suivant <i class="fa fa-arrow-right"></i></button>
	</div>

  </div>
{% else %}
	{% for message in app.flashes('info') %}
		<div style="font-size: 11px;padding: 0px;" class="alert alert-info" style="">
	      <center>{{ message | raw }}</center>
	  	</div>
	{% endfor %}
	{% for message in app.flashes('echec') %}
		<div style="font-size: 11px;padding: 0px;" class="alert alert-danger" style="">
		    <center>{{ message | raw }}</center>
		</div>
	{% endfor %}
{% endif %}