<!-- Modal -->
<div class="modal fade" id="notif" tabindex="-1" role="dialog" aria-labelledby="modalNotif" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background:white">
        <div class="modal-header">
          <h5 class="modal-title label-perso" id="modalNotif">Notification !!!</h5>
          <button style="color:red; margin-top:-25px" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-md-12" style="padding:20px;background:white">
        	<div class="alert alert-success" style="">
  			  	<center>{{ message | raw }}</center>
  			 </div>
            <button type="button" class="btn btn-success margin_top_10 pull-right" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>