<script>
   // Add your client ID and secret
    var PAYPAL_CLIENT = 'AdUdf7m4zSCEMd9ezzJOoT6-FT_qwe4s_0xBWIC1HSQV_Bnli7Xl2Lc-ktSSV65GRTdfQwfkiXmcmmPn';
    var PAYPAL_SECRET = 'EMjxBOQUnnbsT27_kvZUEmYWGy3S8kIRUXhNuMbscJRnG7IAzfRywpOjMPMW8K92cJj0ep1NX-Qdjg-C';

  // Point your server to the PayPal API
    var PAYPAL_ORDER_API = 'https://api.paypal.com/v2/checkout/orders/';
</script>

<script>
  function monPaypal(amount, lienSuccess, lienEchec){
    paypal.Buttons({
      createOrder: function(data, actions) {
        // This function sets up the details of the transaction, including the amount and line item details.
        return actions.order.create({
          purchase_units: [{
            amount: {
              currency_code: "EUR",
              value: amount,
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(details) {
          // This function shows a transaction success message to your buyer.
          alert('Transanction effectuée avec succès par ' + details.payer.name.given_name);
          window.location = lienSuccess;

        });
      },
      onError: function (err) {
        // Show an error page here, when an error occurs
        alert('Erreur lors de la transaction. Vérifiez vos paramètres. Erreur: ' + err);
        window.location = lienEchec;
      }

    }).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
  }
</script>