{% extends 'index.html.twig' %}

{% block haut %}
	<br>
	<br>
{% endblock haut %}

{% block content %}
<div class="full row">
    <div class="label-perso">
      Activation du compte utilisateur
  </div>
	<div class="col-md-12 col-sm-12 col-xs-12 label-perso-3 margin_top_30">
      	Nous allons vous envoyer un code de vérification par mail
  </div>
  <form class="" method="POST" action="{{path('envoie_code_verif')}}">
    <div class="col-xs-12 col-md-12 col-sm-12 margin_top_30">
      	<div class="full field">
          <input required="" type="email" placeholder="Entrer votre adresse email" name="email" />
        </div>
        <div class="col-xs-12 button_section margin_top_30">
            <button class="submit_bt" id="bouton-next" type="submit" class="">Envoyer <i class="fa fa-send"></i></button>
        </div>
  	</div>
  </form>
</div>

{% endblock content%}