<!DOCTYPE html>
<html>
<head>
	<title>{% block name %}Contribution enregistrée avec succès{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="{{asset('admin/assets/css/style.css')}}" rel="stylesheet" />
	<link href="{{asset('admin/assets/css/bootstrap.css')}}" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="{{asset('admin/assets/css/font-awesome.css')}}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
	{% block body %}
		<div class="form_wrapper">
			<div class="form_container">
				<div class="title_container">
					<a href="{{path('authentification')}}">
						<img class="logo" src="{{asset('admin/assets/img/find_user.png')}}" class="img-responsive"/>
					</a>
					<h2><b>{{app_name}}</b></h2>
					<span style="color:#695e50">Gestion des collectes de Dons, CrowdFundings, contributions et adhésions</span>
				</div>
				<div class="clearfix">
					{% if app.request.hasPreviousSession %}
						{% for type, messages in app.session.flashbag.all() %}
							{% for message in messages %}
								<div id="message-fos" class="text-center col-md-12" style="
								color: black;
								font-size: 13.5px;
								font-size: 17px;
								background:#288628;
								padding: 5px;
								color: white;
								font-family: 'Raleway', sans-serif;
								">
								{{ message | raw }}
							</div>
						{% endfor %}
					{% endfor %}
				{% endif %}
			</div>
			<div class="row clearfix">

			</div>
		</div>
	</div>
{% endblock body %}

<p class="credit">Développé par <a href="http://www.groupethemis.com" target="_blank">Le Groupe Themis-iT</a></p>
</body>
<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
<script type="text/javascript">

</script>
<script src="{{asset('admin/assets/js/bootstrap.min.js')}}"></script>
</html>