{% extends 'template/login.html.twig' %}
{% block name %}{{campagne.application}} | Campagne d'adhésion - {{campagne}}{% endblock %}
	{% block body %}
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="padding-right:0px">
				<div class="description">
					<div class="title_container text-center row">
						<img class="logo-appli" src="{{asset('Uploads/couvertures/')}}{{ campagne.image }}" class="img-responsive"/>	
						<div class="col-md-12">
							<h3>
								<span style="color:#695e50"><a href="#">{{campagne}}</a></span>
							</h3>
							<div class="row panel panel-info text-left" style="margin-left:1px">
								<div class="panel-heading">
									<p class="text-center italic" style="">Campagne d'adhésion créée par <b style="color:#c90000">{{campagne.application}}</b></p>
								</div>
								<div class="panel-body" style="padding-top:0">
									{{campagne.description | raw}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5" style="padding-left:0px;">
				<div class="form_wrapper form_wrapper-2 myform">
					<div class="title_container">
						<center>
							<img class="logo-appli-3" src="{{asset('Uploads/logos/')}}{{ campagne.application.logo }}" class="img-responsive"/>
						</center>
						<h1 class="text-center" style="color:#c90000;margin-top:-10px"><b>J'adhère maintenant !</b></h1>
					</div>
					<div class="clearfix">
						{{ form_start(form) }}
						<div class="row">
							<div class="col-md-6">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
									{{ form_widget(form.nom,{'attr':{'class':'','placeholder':'Votre nom complet *', 'required': 'required'}}) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
									{{ form_widget(form.email,{'attr':{'class':'','placeholder':'Email *', 'required': 'required'}}) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-globe"></i></span>
									{{ form_widget(form.pays,{'attr':{'class':'','placeholder':'Votre pays *', 'required': 'required'}}) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
									{{ form_widget(form.ville,{'attr':{'class':'','placeholder':'Ville ou adresse *', 'required': 'required'}}) }}
								</div>
							</div>	
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
									{{ form_widget(form.telephone,{'attr':{'class':'','placeholder':'Numéro téléphone '}}) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-tasks"></i></span>
									{{ form_widget(form.profession,{'attr':{'class':'','placeholder':'Votre profession '}}) }}
								</div>
							</div>	
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-signal"></i></span>
									{{ form_widget(form.typeMembre,{'attr':{'class':'form-control'}}) }}
								</div>
							</div>
							<div class="col-md-4">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-star"></i></span>
									{{ form_widget(form.age,{'attr':{'class':'form-control','placeholder':'Votre âge', 'min': '15', 'max': '80'}}) }}
								</div>
							</div>
							<div class="col-md-4">
								<div class="input_field"> <span><i aria-hidden="true" class="fa fa-gift"></i></span>
									{{ form_widget(form.sexe,{'attr':{'class':'form-control'}}) }}
								</div>
							</div>	
						</div>
						<div class="input_field"> <span><i aria-hidden="true" class="fa fa-comment"></i></span>
							{{ form_widget(form.motivation,{'attr':{'class':'form-control','style':'padding-left: 35px;font-weight:500;', 'placeholder':'Motivez votre adhésion'}}) }}
						</div>
						<h2 class="input_field text-center">
							frais d'adhésion: {{adhesion.campagne.montant | number_format(2)}} <i class="fa fa-eur"></i>
						</h2>
						<input class="submit" type="submit" value="J'adhère maintenant" />
						{{ form_end(form) }}
					</div>
					<div class="title_container">
						<hr>
						<i>
						    Formulaire propulsé par<b><a href="{{path('homepage')}}"> {{app_name}}</a></b> <br>
						    <span style="color:#695e50; font-size:12px">Gestion des adhesions de Dons, CrowdFundings, contributions et adhésions</span>
					    </i>
						<h3>
							<a href="{{path('homepage')}}">
								<img class="logo-appli-2" src="{{asset('admin/assets/img/find_user.png')}}" class="img-responsive"/>
							</a>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
		<script type="text/javascript">
			$('#appbundle_adhesion_montant').attr('type', 'number');
		</script>
	{% endblock %}