{{ form_start(form) }}
<div class="col-md-6 mb-3">
    <label>Campagne concernée<span style="color:red">*</span></label>
    {{ form_widget(form.campagne, {'attr':{'class':'form-control', 'required':'required'}}) }}
</div>
<div class="col-md-6 mb-3">
    <label>Application / Association concernée (lié à la campagne)<span style="color:red">*</span></label>
    {{ form_widget(form.application, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-4 mb-3">
    <label>Nom du donnateur (contributeur)<span style="color:red">*</span></label>
    {{ form_widget(form.nom, {'attr':{'class':'form-control', 'required':'required'}}) }}
</div>
<div class="col-md-4 mb-3">
    <label>Email du membre (adhérant)<span style="color:red">*</span></label>
    {{ form_widget(form.email, {'attr':{'class':'form-control', 'required':'required'}}) }}
</div>
<div class="col-md-2 mb-3">
    <label>Son âge</label>
    {{ form_widget(form.age, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-2 mb-3">
    <label>Son sexe<span style="color:red">*</span></label>
    {{ form_widget(form.sexe, {'attr':{'class':'form-control', 'required':'required'}}) }}
</div>
<div class="col-md-3  mb-3">
    <label>Sa profession</label>
    {{ form_widget(form.profession, {'attr':{'class':'form-control'}}) }}
</div>
<div class="col-md-3 mb-3">
    <label>Pays </label>
    {{ form_widget(form.pays, {'attr':{'class':'form-control'}}) }}
</div>

<div class="col-md-3 mb-3">
    <label>Ville ou adresse </label>
    {{ form_widget(form.ville, {'attr':{'class':'form-control'}}) }}
</div>

<div class="col-md-3 mb-3">
    <label>Téléphone </label>
    {{ form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
</div>

<div class="col-md-6 mb-3">
    <label>Type de membre<span style="color:red">*</span></label>
    {{ form_widget(form.typeMembre, {'attr':{'class':'form-control', 'required':'required'}}) }}
</div>

<div class="col-md-2 mb-3">
    <label>Date adhésion<span style="color:red">*</span></label>
    {{ form_widget(form.dateAdhesion, {'attr':{'class':'', 'required':'required'}}) }}
</div>

<div class="col-md-4 mb-3">
    <label>Motivation de son adhésion</label>
    {{ form_widget(form.motivation, {'attr':{'class':'form-control'}}) }}
</div>

<div class="col-md-4 mb-3">
    <label>Montant reçu (<i class="fa fa-eur"></i>)<span style="color:red">*</span></label>
    {{ form_widget(form.montant, {'attr':{'class':'form-control', 'required':'required'}}) }}
</div>


<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>

<script type="text/javascript">
    $('#appbundle_collecte_application').load('{{path('application_for_user')}}');
</script>