{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Liste de toutes les adhésions aux campagnes {% if application is defined %} <span style="color:#093983">[{{application}}]</span> {% endif %}</h2>   
        <h5>Afficher la liste des participants à une collecte, générer leur reçus et enregistez les collectes reçues manuellement hors site</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="col-md-12">
        <a href="{{path('adhesion_new')}}" class="btn btn-link"> <i class="fa fa-plus-circle"></i> Enregistrer manuellement une adhésion</a>
    </div>
    <hr>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Campagne</th>
                        <th>Noms et prénoms</th>
                        <th>Téléphone</th>
                        <th>Date adhésion</th>
                        <th>Type membre</th>
                        <th>Profession</th>
                        <th>Pays</th>
                        <th>Ville</th>
                        <th>Age</th>
                        <th>Motivation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                    {% for adhesion in adhesions %}
                        <tr>
                            <td><a href="{{ path('adhesion_show', { 'id': adhesion.id }) }}">{{num}}</a></td>
                            <td><a href="{{path('campagne_show', {'id': adhesion.campagne.id})}}">{{ adhesion.campagne }}</a></td>
                            <td>{{ adhesion.nom }}</td>
                            <td>{{ adhesion.telephone }}</td>
                            <td>{% if adhesion.dateAdhesion %}{{ adhesion.dateAdhesion|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ adhesion.typeMembre }}</td>
                            <td>{{ adhesion.profession }}</td>
                            <td>{{ adhesion.pays }}</td>
                            <td>{{ adhesion.ville }}</td>
                            <td>{{ adhesion.age }}</td>
                            <td>{{ adhesion.motivation }}</td>
                            <td>
                                <a href="{{ path('adhesion_show', { 'id': adhesion.id }) }}"> <i class="fa fa-file-o"></i> Carte</a>
                            </td>
                        </tr>
                        {% set num =  num +  1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'adhesion/active.html.twig' %}
{% endblock %}
