{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adhesion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adhesion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adhesion.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adhesion.telephone }}</td>
            </tr>
            <tr>
                <th>Dateadhesion</th>
                <td>{% if adhesion.dateAdhesion %}{{ adhesion.dateAdhesion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Typemembre</th>
                <td>{{ adhesion.typeMembre }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ adhesion.profession }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adhesion.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adhesion.ville }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ adhesion.age }}</td>
            </tr>
            <tr>
                <th>Motivation</th>
                <td>{{ adhesion.motivation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adhesion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adhesion_edit', { 'id': adhesion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
