{% extends 'home.html.twig' %}
{% block title %}
   Modification de la notification {{notification.reference}} | {{parent()}} 
{% endblock %}
{% block body %}
<div class="panel panel-border panel-custom" style="background: #ebeff2;">
    <header class="panel-heading">
        <h1 class="panel-title">
            <a style="color:darkblue;font-weight:900;font-size:22px">
                {{notification.reference}} 
            </a>
            <small class="pull-right">
                <a href="{{ path('notification_index')}}" class="btn btn-primary">Retour à la liste des notifications
                </a>
            </small>
        </h1>
    </header>
</div>
<div class="col-md-12">

    {{ form_start(edit_form) }}
        
    <div class="col-md-6">
        {{ form_label(edit_form.sujetAdmin, 'Sujet admin / compte utilisateur') }}
        {{ form_widget(edit_form.sujetAdmin,{'attr':{'class':'form-control', 'placeholder':'Titre du mail admin'}}) }}
        <br>
        {{ form_label(edit_form.contenuAdmin, 'Contenu admin / compte utilisateur') }}
        {{ form_widget(edit_form.contenuAdmin,{'attr':{'class':'form-control', 'placeholder':''}}) }}
    </div>
    <div class="col-md-6">
        {{ form_label(edit_form.sujetClient, 'Sujet client / visiteur') }}
        {{ form_widget(edit_form.sujetClient,{'attr':{'class':'form-control', 'placeholder':'Titre du mail client'}}) }}
        <br>
        {{ form_label(edit_form.contenuClient, 'Contenu client / visiteur') }}
        {{ form_widget(edit_form.contenuClient,{'attr':{'class':'form-control', 'placeholder':'Entrez votre réponse'}}) }}
    </div>
    <div class="col-md-12">
        <br>
        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Modifier la notification</button>
    </div>
    <div class="col-md-12">
        {% if ubuntu is defined %}
            <hr>
            {{ form_label(edit_form.variables, 'Entrez les variables') }}
            {{ form_widget(edit_form.variables,{'attr':{'class':'form-control', 'placeholder':'Titre du mail client'}}) }}
        {% else %}
            <br>
            <h4 style="
            background: #056898;
            color: white;
            padding: 8px;"  
            ><b>Vous pouvez utiliser les variables pour insérer les contenus</b></h4>
            {{ notification.variables | raw }}
        {% endif %}
    </div>


    {{ form_end(edit_form) }}
</div>


    <script type="text/javascript">
        CKEDITOR.replace( 'appbundle_notification_contenuClient', {
            toolbar: [
            { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
            { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
            { name: 'colors', items: [ 'TextColor', 'BGColor' ] },]
        } );
        CKEDITOR.replace( 'appbundle_notification_contenuAdmin', {
            toolbar: [
            { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
            { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
            { name: 'colors', items: [ 'TextColor', 'BGColor' ] },]
        } );
        CKEDITOR.replace( 'appbundle_notification_variables', {
            toolbar: [
            { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
            { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
            { name: 'colors', items: [ 'TextColor', 'BGColor' ] },]
        } );
    </script>
    {% include 'notification/active.html.twig' %}
</div>
{% endblock %}
