{% extends 'home.html.twig' %}

{% block title %}
    Gestion des notifications mails | {{parent()}}
{% endblock %}

{% block tete %}
    <div class="col-md-12">
        <h2>Liste des notifications envoyées par email </h2>   
        <h5>C'est ici que vous pouvez mofifier les messages qui sont envoyé via l'application par mail.</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Référence</th>
                        <th>Sujet client / visiteur</th>
                        <th>Sujet admin / utilisateur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <a href="{{ path('notification_edit', { 'id': notification.id }) }}">
                                    {{ notification.reference }}
                                </a>
                            </td>
                            <td>{{ notification.sujetClient }}</td>
                            <td>{{ notification.sujetAdmin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% include 'notification/active.html.twig' %}
{% endblock %}
