{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notification</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notification.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ notification.reference }}</td>
            </tr>
            <tr>
                <th>Sujetclient</th>
                <td>{{ notification.sujetClient }}</td>
            </tr>
            <tr>
                <th>Contenuclient</th>
                <td>{{ notification.contenuClient }}</td>
            </tr>
            <tr>
                <th>Sujetadmin</th>
                <td>{{ notification.sujetAdmin }}</td>
            </tr>
            <tr>
                <th>Contenuadmin</th>
                <td>{{ notification.contenuAdmin }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notification_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('notification_edit', { 'id': notification.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
