.fraisMOMO{
    background: #333333;
    color: white !important;
}

.benef{
  box-shadow: 2px 2px 2px 2px #424fb052;
  background: #eb6a40;
  color: white !important;
  font-weight: bolder;
  font-size: 18px !important;
}
  
#appbundle_repertoire label{
  color: black
}

.btn-secondary{
  color: black !important;
}



#form-litige label{
  color: black !important;
}

.lienPieds{
  width: 100%;
  background: #333333;
  padding: 8px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 50px;
  font-size: 14px;
}

.lienPieds a{
    color: white;
  font-size: 14px;
}

.input-perso{
    width: 100%;
    border: none;
    background: #ffffff;
    min-height: 52px;
    padding: 0px 5px !important;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
    color: black;
}

.lien-perso{
    width: 163px;
    height: 35px;
    background: #f36b2a;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: ease all 0.5s;
    padding: 10px;
}

.modal {
  top: 10% !important;
}

.amountPay div.mt-3{
  margin-top: 15px;
  margin-bottom: 15px;
}


.amountPay .label-perso-3{
    border-bottom: 1px solid #424fb012;
    padding: 2px;
    font-size: 13px;
    color: black;
}

.amountPay .label-perso-3 span{
    font-weight: bold;
}

.contenuTab tr td{
  color: black;
}

.contenuTab .montant{
  color: green;
}

.select2-results__option{
  width: 100%;
}

.ul-litige p, .ul-litige{
  font-size: 14px !important;
}

.tabElt > li > a {
    font-size: 13px !important;
    padding-right: 13px !important;
    padding-left: 12px !important;
}

@media screen and (max-width: 640px){
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left !important;
    font-size: 12px;
}

@media screen and (min-width: 769px){
  .desktop{
    margin-top: 120px;
  }
}

  #datatable_info{
    font-size: 12px !important;
    text-align: left !important;
  }
  .paginate_button{
    padding: 0 !important;
  }
}

#datatable_length>label{

}

ul.nav.nav-tabs.tabElt {
    border: none;
    padding: 10px;
}

.basZone span{
  font-size: 12px;
}

.mon-h2{
    color: white;
    font-size: 15px;
}

.police-20{
	font-size: 16px !important;
	font-weight: 400 !important;
	color: black !important;
}

.label-perso{
  font-size: 18px;
  color: #424fb0;
  text-align: center;
  background: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.label-perso-2{
	color: #f36b2a;
	font-size: 16px;
	font-weight: bold;
}

.label-perso-3{
    color: #161c34;
    font-size: 14px;
}

.lien{
   color: #f37755;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_80{
  margin-top: 80px;
}

.devise{
	margin-left: 10px !important;
}

.mont{
    color: #424fb0;
    font-family: Raleway;
    font-weight: bold;
}

#saisie, #saisieCfa{
  text-align: center;
  border: none;
  height: 50px;
  padding: 0px;
  font-size: 25px;
}

#saisie{
  border-right: 1px solid;
}

#saisieCfa{
  border-left: 1px solid;
}


.curr{
    font-family: Raleway;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    background: #424fb0;
}

th{
    color: #333333;
    font-weight: 500;
}

td{
    color: #304f8c;
}

#fos_user_change_password_form label{
  color: black;
  margin-bottom: 0px;
}

.monDiv{
    overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white; 
}


::-webkit-scrollbar-thumb {
  background: #009efb; 
}

.dataTables_wrapper .dataTables_length select{
    background-color: #011f9e !important;
}

.mesTab{
    background:#ece6e6 !important;
}

.mesTab-tet{
    background:darkblue !important;
}

#bouton-next{
    
}

.tabElt li a {
    color: #233d8d;
    font-size: 14px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="radio"][id^="cb"] {
  display: none;
}

label, #datatable_info{
    color: white;
}

ul label {
  border: 1px solid #424fb040;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 67px;
  width: 67px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✔";
  background-color: #f36b2a;
  color: white;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
    padding: 2px 2px 7px 15px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
  color: #f36b2a;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 86px;
  font-weight: bold;
}

.openbtn:hover {
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.footer p{
    color: white;
    font-size: 13px;
    padding: 15px;
}

.contenu-page{
    padding-bottom: 60px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #424fb0;
  overflow: hidden;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

#home{
  margin-top: 70px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 28px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: transparent;
  color: white;
}

.entete-sousPage{
    color:white;
    background: #010d24;
    text-align: center;
    margin-bottom: 13px;
}

.close-alert{
    background: #F44336;
    padding-left: 6px;
    color: white;
    padding-right: 6px;
    margin-top: -14px;
    cursor: pointer;
}

input, select, textarea{
  box-shadow: 0px 5px 10px 0px #424fb038 !important;
  font-size: 23px !important
  font-weight: bold;
}



/* Navigation pied de pages*/
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333 !important;
  overflow: hidden !important;
  position: fixed !important;
  bottom: 30px !important;
  width: 100% !important;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left !important;
  display: block !important;
  color: #f2f2f2 !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 13px !important;
  padding: 0px;
}

/* Change the color of links on hover */
.navbar a:hover {
  
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50 !important;
  color: white !important;
}



/*LAODER*/

/* Loader implementation */
.monModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .monModal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .monModal {
    display: block;
}

/*FIN*/



/* DROPDOWN*/
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #333333;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
  position: fixed;
  top: 55px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.sous-menu{
  width: 250px;
}

.sous-menu li a {
    padding: 5px !important;
    margin-left: 5px;
    width: 100%;
    text-align: left;
}

.sous-menu li a:hover {
  font-weight: bold;
}

.lien-login-1{
  border-top: 1px solid white;
  margin-top: 10px;
}

.lien-login{
  color: #eb6a40 !important;
  border: 1px solid white;
  margin-bottom: 8px;
  border-radius: 13px;
}

.lien-login:hover{
    background: #424fb0 !important;
    color: white !important;
}

#menu-link a.menu{
  font-size: 16px;
  padding: 22px;
  padding-right: 10px;
  padding-left: 10px;
}

#user-menu{
  font-size: 16px;
  padding: 7px;
  border: 1px solid #333333;
  border-radius: 10px;
  background: #333333;
}

 #user-title{
  font-size: 16px;
  padding: 7px;
  margin-top: 14px;
}

 #user-title span{
  color: #0c0c0c;
}

#menu-link a.menu i{
  color: #eb6a40  ; 
}

#menu-link a.menu:hover{
  background: #333333;
  color: white
}

#menu-link a.menu.active{
  background: #333333;
}

@media screen and (min-width: 1024px) {
  .onMobile{
      display: none;
    }
}

@media screen and (max-width: 866px) {
    .onDesktop{
      display: none;
    }

    .login-body{
      background: #f8f9fb !important;
    }
}