{% trans_default_domain 'FOSUserBundle' %}
    {% block fos_user_content %}
        <form class="" action="{{ path("fos_user_security_check") }}" style="" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" id="username" name="_username" placeholder="Votre email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" id="password" name="_password" placeholder="Mot de passe" required />
            </div>
            <div class="input_field checkbox_option text-center">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label style="" for="remember_me">Rester connecté ?</label> <a style="color: orange;" href="{{path('fos_user_resetting_request')}}"> Mot de passe oublié ?</a>
            </div>
            <button class="button btn-submit" id="_submit" name="_submit" type="submit" value="{{ 'security.login.submit'|trans }}">Se connecter</button>
        </form>
    {% endblock fos_user_content %}
