<select id="appbundle_campagne_application" name="appbundle_campagne[application]" required="required" class="form-control">
	<option value="">Choisissez un élément</option>
	{% for application in applications %}
		<option value="{{application.id}}">{{application.nom}}</option>
	{% endfor %}
</select>