{{ form_start(form) }}
    <div class="col-md-4 mb-3">
        <label>Nom de l'application <span style="color:red">*</span></label>
        {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-md-4 mb-3 text-center">
        <img height="100" width="100" src="{{asset('Uploads/logos/')}}{{ application.logo }}" /> 
        {% if application.logo %}
            Logo actuel
        {% else %}
            Aucun logo trouvé
        {% endif %}
    </div>
    <div class="col-md-4 mb-3">
        <label>Mettre à jour le Logo maintenant</label>
        {{ form_widget(form.logo, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-md-12 mb-3">
        <label>Dites-nous en plus sur votre application / association</label>
        {{ form_widget(form.description, {'attr':{'required':'required'}}) }}
    </div>   