{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Mes applications / Associations</h2>   
        <h5>Gérer vos applications; ajout, mise à jour et création des formulaires y afférents</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <a href="{{path('application_new')}}" class="btn btn-primary"> <i class="fa fa-plus-circle"></i> Ajouter une application</a>
</div>
<hr>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Association <i class="pull-right fa fa-sort"></i></th>
                    <th>Description <i class="pull-right fa fa-sort"></i></th>
                    <th>Logo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set num = 1 %}
            {% for application in applications %}
                <tr>
                    <td>{{ num }}</td>
                    <td><a href="{{path('application_show', {'id': application.id})}}">{{ application.nom }}</a></td>
                    <td>{{ application.description | slice(0, 100) | raw }}... <a href="{{path('application_show', {'id': application.id})}}">Lire plus</a></td>
                    <td><img height="50" width="50" src="{{asset('Uploads/logos/')}}{{ application.logo }}" /></td>
                    <td>
                        <a title="Mettre  jour" href="{{ path('application_edit', { 'id': application.id }) }}">
                            <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </a> - 
                        <a title="Supprimer" href="{{ path('application_show', { 'id': application.id }) }}">
                            <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% set num = num + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'application/active.html.twig' %}
{% endblock %}
