{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Ajout d'une application / association</h2>   
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'application/form.html.twig'%}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Valider et ajouter" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace( 'appbundle_application_description', {
        toolbar: [
        { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },]
    } );

$('form').attr('enctype','multipart/form-data');

</script>
{% include 'application/active.html.twig' %}
{% endblock %}
