{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Vous êtes connecté à <span style="color:#093983">[{{application}}]</span></h2>   
        <h5>Gérer vos adhésions, formulaires, collecte de fonds et vos intégrations APIs</h5>
        <p><h5><b><u>Présentation</u></b></h5>{{application.description | raw}}</p>
    </div>
{% endblock tete %}

{% block menu %}
    {% include 'partial/menus/menu_appli.html.twig' %} 
{% endblock %} 

{% block body %}
    <div class="col-md-4 col-sm-6 col-xs-6">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
                <i class="fa fa-users"></i>
            </span>
            <div class="text-box" >
                <p class="main-text"><a href="{{path('adhesion_application_index', {'id': application.id})}}">{{adhesions | length}} Adhésions</a></p>
                <p class="text-muted">au total</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-green set-icon">
                <i class="fa fa-gift"></i>
            </span>
            <div class="text-box" >
                <p class="main-text"><a href="{{path('collecte_application_index', {'id': application.id})}}">{{montantCollecte | number_format(2)}}<i class="fa fa-eur"></i> Collectés</a></p>
                <p class="text-muted">au total</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">           
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue set-icon">
                <i class="fa fa-heart"></i>
            </span>
            <div class="text-box" >
                <p class="main-text"><a href="{{path('collecte_application_index', {'id': application.id})}}">{{adhesions | length}} Donateur</a></p>
                <p class="text-muted">Enregistrés</p>
            </div>
        </div>
    </div>
    {% include 'application/active.html.twig' %}
{% endblock %}
