<!DOCTYPE html>
<html>
<head>
    <title>{% block name %}Mon compte{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{asset('admin/assets/css/style.css')}}" rel="stylesheet" />
    <link href="{{asset('admin/assets/css/bootstrap.css')}}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <!-- FONTAWESOME STYLES-->
    <link href="{{asset('admin/assets/css/font-awesome.css')}}" rel="stylesheet" />
</head>
<body style="font-family:Raleway">
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <a href="{{path('authentification')}}">
                    <img class="logo" src="{{asset('admin/assets/img/find_user.png')}}" class="img-responsive"/>
                </a>
                <h2 style="margin-bottom:10px;"><b>Espace utilisateur</b></h2>
                <span style="color:#695e50">Gestion des collectes de Dons, CrowdFundings, contributions et adhésions</span>
            </div>
            <div class="row clearfix signIn">
                <div class="">
                    <div class="row" style="margin-top:-21px">
                        {% if error is defined and error is not null %}
                            <div class="text-center col-md-12" style="
                            color: black;
                            font-size: 13.5px;
                            background: #8e1e1e;
                            padding: 5px;
                            color: white;
                            font-family: 'Raleway';
                            ">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% elseif error is defined %}
                            <div class="text-center col-md-12" style="
                            color: black;
                            font-size: 13.5px;
                            background: #8e1e1e;
                            padding: 5px;
                            color: white;
                            font-family: 'Raleway', sans-serif;
                            ">Vous devez vous connecter pour accéder à la page précédente</div>
                        {% endif %}
                    </div>
                    {% block fos_user_content %}
                        <form class="" action="{{ path("fos_user_security_check") }}" style="" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                                <input type="email" name="email" placeholder="Votre email" required />
                            </div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                <input type="password" name="password" placeholder="Mot de passe" required />
                            </div>
                            <div class="input_field checkbox_option text-center">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label style="font-size: 14px;" for="remember_me">Rester connecté ?</label> <a style="color: orange;" href="{{path('fos_user_resetting_request')}}"> Mot de passe oublié ?</a>
                            </div>
                            <input class="button" type="submit" value="Se connecter" />
                        </form>
                    {% endblock fos_user_content %}
                </div>
                <p class="text-center"></p>
                <p class="text-center">Vous n'avez pas de compte ? <a href="{{path('authentification', {'compte':'création'})}}" class="btn btn-link">Créer un compte</a></p>
            </div>
        </div>
    </div>
    <p class="credit">Développé par <a href="http://www.groupethemis.com" target="_blank">Le Groupe Themis-iT</a></p>
</body>
<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
<script src="{{asset('admin/assets/js/bootstrap.min.js')}}"></script>
</html>