{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="text-center" style="
        color: black;
        font-size: 13.5px;
        background: #1e8e27;
        padding: 5px;
        color: white;
        font-family: 'Raleway', sans-serif;
        ">
    <br>
        <p class="">
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
        <p class="">
            <br>
            <a style="color: black" href="{{path('homepage')}}" class="">Retourner à l'accueil</a>
        </p>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
{% endblock %}
