{% trans_default_domain 'FOSUserBundle' %}
    {% block fos_user_content %}
        <form action="{{ path('fos_user_resetting_send_email') }}" class="text-bold" role="form" method="POST" class="fos_user_resetting_request">
            <div style="color: black" class="alert alert-info alert-dismissable text-center">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                <h3 style="text-align: center; font-weight: bold">Vous avez oublié votre mot de passe? pas de panique!</h3>
                <br>
            </div>
            <div class="form-group m-b-0 text-center">
                <div class="col-md-12">
                    <!-- <label for="username">{{ 'resetting.request.username'|trans }}</label> -->
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" id="username" name="username" placeholder="Entrez l'email de votre compte" required />
                    </div>
                    <button type="submit" class="btn-submit">
                        Valider
                    </button> 
                    <a class="btn btn-link" href="{{path('fos_user_security_login')}}">Annuler et me connecter</a>
                </div>
            </div>
        </form>
        <script>
            var resizefunc = [];
        </script>
        <div class="col-md-12">
            <hr>
        </div>
    {% endblock fos_user_content %}