{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <style>
        label{
            color: black;
            font-weight: 400;
            margin-top: 10px;
        }
        input{
            color: black;
        }
    </style>
<div class="" style="
                    color: black;
                    font-size: 13.5px;
                    background: #8e1e1e;
                    padding: 5px;
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    ">
    <p class="text-center">
        Pour réinitialiser votre mot de passe remplissez le formulaire ci-dessous.
    </p>
</div>
<div class="col-md-12" style="font-size: 16px; color: white">
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset', 'style':'' } }) }}
    {{ form_widget(form) }}
    <br>
    <div class="text-center">
        <input class="" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
    <div class="col-md-12 text-center" style="">
        <a style="" href="{{path('homepage')}}" class="center-block">Retourner à l'accueil </a>
        <hr>
    </div>
</div>
{% endblock fos_user_content %}