
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
    body {
        font-family: 'Raleway', sans-serif;
    }

    #wrapper {
        width: 100%;
        background:#202020;
    }

    #page-wrapper {
        background:#F3F3F3;

    }
    #page-inner {
        width:100%;
        margin:10px 20px 10px 0px;
        background-color:#fff!important;
        padding:10px;

    }

    .text-center {
        text-align:center;
    }
    .no-boder {
        border:1px solid #f3f3f3;
    }
    h2 {
        color: #f00;
    }
    h4 {
        padding-top:10px;
    }
    .square-btn-adjust {
        border: 0px solid transparent; 
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

    }

h2, .h2{
    font-size: 27px;
}

    p {
        font-size:14px;
        line-height:25px;
        padding-top:5px;
    }
/*==============================================
   DASHBOARD STYLES    
   =============================================*/
   .panel-back {
    background-color:#eeeeee;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    line-height: 1.3;
}
.noti-box {
    min-height: 100px;
    padding: 10px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 20px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}
.bg-color-green {
    background-color: #00CE6F;
    color: #fff;
}
.bg-color-blue {
    background-color: #A95DF0;
    color: #fff;
}
.bg-color-red {
    background-color: #DB0630;
    color: #fff;
}
.bg-color-brown {
    background-color: #B94A00;
    color: #fff;
}


.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.main-temp-back .text-temp {
    font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color:#2EA7EB;
    color:#fff;
}
.back-dash p {
    padding-top:16px;
    font-size:13px;
    color:#fff;
    line-height:25px;
    text-align:justify;
}
.back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
.back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}

.back-footer-blue{
    background: #7f11e6;
    border: none;
}

.back-footer-pink{
    background: #E91E63;
    border: none;
}

.bg-color-pink{
    background: #c11651;
    color: white;
}

.color-bottom-txt {
 color: #000;
 font-size: 16px;
 line-height: 30px;
}
/*CHAT PANEL*/
.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}
.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
    margin-left: 90px;
}
.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


    .user-image {
        margin: 25px auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        max-height:170px;
        max-width:170px;
    }

    .navbar-cls-top .navbar-brand {
       color: #fff;
       background: #4d4d4d;
       width: 260px;
       text-align: center;
       height: 60px;
       font-size: 30px;
       font-weight: 700;
   }
   .active-menu {
    background-color:#C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
        font-size: 16px;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}
.navbar-cls-top .navbar-brand:hover {

    background: #C90000;
    color:#fff;

}

.navbar-default {
    border:0px solid black;

}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
    .btn-circle {
        width: 40px;
        height: 40px;
        padding: 6px 0;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        text-align: center;
        font-size: 12px;
        line-height: 1.428571429;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/

    @media(min-width:768px) {
       #page-wrapper{
         margin: 0 0 0 260px;
         padding: 5px 10px;
         min-height: 1200px;
     }


     .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
       border-radius: 0px; 
   }
   
}


.mt-5{
    margin-top: 50px;
}

.mt-1{
    margin-top: 10px;
}


.mt-3{
    margin-top: 20px;
}

.mb-3{
    margin-bottom: 20px;
}

.mb-3{
    margin-bottom: 10px;
}

.mb-4{
    margin-bottom: 30px;
}

.mb-5{
    margin-bottom: 50px;
}

label{
    font-size: 16px;
    font-weight: 400;
    color: #093983;
}
input, select, .form-control{
    color: black;
}

.edit-logo{
    background: #094ba2 !important;
    font-size: 19px !important;
    padding-left: 11px !important;
    padding-top: 7px !important;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-left: 5px
}

.form-control {
    display: block;
    padding: 6px 5px;
}

#appbundle_campagne_nom{
    font-size: 20px;
    background: #f1f1f16b;
    height: 45px;
}

.dateDebut, .dateFin{
    display: inline-flex;
}

input[name="appbundle_formulaire[listeChamps][]"]{
    width: 27px;
    height: 14px;
    margin-left: 7%;
}

#appbundle_formulaire_listeChamps label{
    color: black;
}

.btn-custum{
    color: white !important;
}

.frais{
    color: #ff0007;
    font-weight: 700;
}

#appbundle_versement_montant, #montantCache{
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
}

.taux{
    font-size: 27px;
    font-weight: 700;
    padding-left: 20px;
}

.percu{
    color: green;
}

#userbundle_utilisateur_typeCompte_0, #userbundle_utilisateur_typeCompte_1, #userbundle_utilisateur_typeCompte_2, #userbundle_utilisateur_typeCompte_3, #userbundle_utilisateur_typeCompte_4{
    margin-left: 10px;
    width: 32px;
    height: 22px;
}

.mt-2{
    margin-top: 20px;
}

.apiTitle{
    background: #202020;
    padding: 5px;
}

.logo{
    width: 100%;
}

.navbar-brand{
    height: 100% !important;
    padding: 0px;
}

.desc-campagne p{
    color: white;
}

.mr-2{
    margin-right: 20px;
}

.mr-1{
    margin-right: 10px;
}

.mb-1{
    margin-bottom: 10px;
}