{{ form_start(form) }}
    <div class="col-md-6 mb-4">
        <label>Nom de la banque <span style="color:red">*</span></label>
        {{ form_widget(form.nomBanque, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'Nom de la banque'}}) }}
    </div>
    <div class="col-md-6 mb-4">
        <label>Nom du titulaire du compte <span style="color:red">*</span></label>
        {{ form_widget(form.nomTitulaire, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'Nom du titulaire'}}) }}
    </div>
    <div class="col-md-3 mb-4">
        <label>Code banque <span style="color:red">*</span></label>
        {{ form_widget(form.codeBanque, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'code banque *'}}) }}
    </div>   
    <div class="col-md-3 mb-4">
        <label>Code guichet <span style="color:red">*</span></label>
        {{ form_widget(form.codeGuichet, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'code guichet *'}}) }}
    </div>   
    <div class="col-md-4 mb-4">
        <label>Numéro de compte <span style="color:red">*</span></label>
        {{ form_widget(form.numeroCompte, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'numéro de compte *'}}) }}
    </div>   
    <div class="col-md-2 mb-4">
        <label>Clé RIB <span style="color:red">*</span></label>
        {{ form_widget(form.cleRIB, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'clé RIB *'}}) }}
    </div>   
    <div class="col-md-12 mb-4">
        <label>IBAN (Numéro international de banque) <span style="color:red">*</span></label>
        {{ form_widget(form.IBAN, {'attr':{'class':'form-control', 'required':'required', 'placeholder':'IBAN (Numéro international de banque) *'}}) }}
    </div>   