{% extends 'home.html.twig' %}

{% block tete %}
	<div class="col-md-12">
		<h2>Informations du compte bancaire</h2>   
		<h5>Configurez vos informations bancaires afin de pouvoir bénéficier des versement dans vos comptes des fonds collectés par <a href="">{{app_name}}</a>.</h5>
	</div>
{% endblock tete %}

{% block body %}
	<div class="col-md-12">
		{% if banques | length != 0 %}
			<a href="{{path('banque_edit', {'id': banques.id})}}" class="btn btn-primary"> <i class="fa fa-edit"></i> Mettre à jour mes informations</a>
		{% else %}
			<a href="{{path('banque_new')}}" class="btn btn-primary"> <i class="fa fa-plus-circle"></i> Configurer mes informations</a>
		{% endif %}
	</div>
	<hr>
	<div class="panel-body">
		<div class="table-responsive">
			{% if banques is not null %}
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Nom banque</th>
							<th>Titulaire du compte</th>
							<th>Code banque</th>
							<th>Code guichet</th>
							<th>Numero compte</th>
							<th>Cle RIB</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ banques.nomBanque }}</td>
							<td>{{ banques.nomTitulaire }}</td>
							<td>{{ banques.codeBanque }}</td>
							<td>{{ banques.codeGuichet }}</td>
							<td>{{ banques.numeroCompte }}</td>
							<td>{{ banques.cleRIB }}</td>
						</tr>
						<tr>
							<td colspan="6" class="text-center">
								<b>IBAN (Numéro internationale de banque):</b> {{ banques.IBAN | upper }}
							</td>
						</tr>
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
	{% include 'banque/active.html.twig' %}
{% endblock %}
