{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Informations du compte bancaire</h2>   
        <h5>Configurez vos informations bancaires afin de pouvoir bénéficier des versement dans vos comptes des fonds collectés par <a href="">{{app_name}}</a>.</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom banque</th>
                        <th>Titulaire compte</th>
                        <th>Code banque</th>
                        <th>Code guichet</th>
                        <th>Numero compte</th>
                        <th>Clé RIB</th>
                        <th>IBAN (Numéro international de banque)</th>
                    </tr>
                </thead>
                <tbody>
                    {% set num = 1 %}
                        {% for banque in banques %}
                            <tr>
                                <td>{{ num }}</td>
                                <td>{{ banque.nomBanque }}</td>
                                <td>{{ banque.nomTitulaire }}</td>
                                <td>{{ banque.codeBanque }}</td>
                                <td>{{ banque.codeGuichet }}</td>
                                <td>{{ banque.numeroCompte }}</td>
                                <td>{{ banque.cleRIB }}</td>
                                <td>
                                    {{ banque.IBAN | upper }}
                                </td>
                            </tr>
                            {% set num = num + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if app.user and app.user.level.rightToken != "ROLE_ADMIN" %}
                {% include 'banque/active.html.twig' %}
            {% else %}
                {% include 'banque/activeA.html.twig' %}
            {% endif %}
        {% endblock %}
