{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Paramétrage des informations bancaires</h2>   
        <h5>Configurez vos informations bancaires afin de pouvoir bénéficier des versement dans vos comptes des fonds collectés par <a href="">{{app_name}}</a>.</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'banque/form.html.twig'%}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Confirmer et enregistrer" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% include 'banque/active.html.twig' %}
{% endblock %}
