{% extends 'base.html.twig' %}

{% block body %}
    <h1>Banque</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banque.id }}</td>
            </tr>
            <tr>
                <th>Nombanque</th>
                <td>{{ banque.nomBanque }}</td>
            </tr>
            <tr>
                <th>Nomtitulaire</th>
                <td>{{ banque.nomTitulaire }}</td>
            </tr>
            <tr>
                <th>Codebanque</th>
                <td>{{ banque.codeBanque }}</td>
            </tr>
            <tr>
                <th>Codeguichet</th>
                <td>{{ banque.codeGuichet }}</td>
            </tr>
            <tr>
                <th>Numerocompte</th>
                <td>{{ banque.numeroCompte }}</td>
            </tr>
            <tr>
                <th>Clerib</th>
                <td>{{ banque.cleRIB }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ banque.IBAN }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('banque_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('banque_edit', { 'id': banque.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
