{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Modifier les champs qui apparaîtrons sur le formulaire</h2>   
        <h5>Pour certaines campagnes, certains champs sont obligatoires et ne peuvent être désactivés.</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'formulaire/form.html.twig'%}
            <div class="col-md-12">
                <hr>
                <input type="submit" class="btn btn-success" value="Valider et enregistrer" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% include 'campagne/active.html.twig' %}
{% endblock %}
