{{ form_start(form) }}
    <div class="col-md-12 mb-3">
        <label class="mb-3">Veuillez sélectionner les variables que vous souhaitez rendre obligatoires lors de la collecte des données chez les personnes qui utiliseront ce formulaire (les options non-cochées seront facultatives) <span style="color:red">*</span></label>
        {{ form_widget(form.listeChamps, {'attr':{'class':''}}) }}
    </div>
