{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Ajout d'un formulaire à la campagne <span style="color:#093983">[{{formulaire.campagne}}]</span> </h2>   
        <h5>Votre campagne étant déjà créée, il ne vous reste plus qu'à paramétrer votre formulaire et le publier sur votre site web.</h5>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <div class="">
        <div class="row">
            {% include 'formulaire/form.html.twig'%}
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Valider et enregistrer" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% include 'campagne/active.html.twig' %}
{% endblock %}
