{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formulaire.id }}</td>
            </tr>
            <tr>
                <th>Listechamps</th>
                <td>{% if formulaire.listeChamps %}{{ formulaire.listeChamps|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formulaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('formulaire_edit', { 'id': formulaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
