{{ form_start(form) }}
    <div class="col-md-12 mb-3">
        <label>Nom du type de collecte <span style="color:red">*</span></label>
        {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-md-12 mb-3">
        <label>Informez les utilisateurs sur le type de collecte</label>
        {{ form_widget(form.description, {'attr':{'required':'required'}}) }}
    </div>   