{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Gestion des catégories de collecte</h2>   
        <h5>Créez et gérez les catégories de collecte qui apparaîtrons sur les pages utilisateurs</h5>
    </div>
{% endblock tete %}

{% block body %}
    <div class="col-md-12">
        <a href="{{path('categorie_new')}}" class="btn btn-primary"> <i class="fa fa-plus-circle"></i> Ajouter une categorie</a>
    </div>
    <hr>
    <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Catégorie<i class="pull-right fa fa-sort"></i></th>
                    <th>Description <i class="pull-right fa fa-sort"></i></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set num = 1 %}
                    {% for categorie in categories %}
                        <tr>
                            <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ num }}</a></td>
                            <td>{{ categorie.nom }}</td>
                            <td>{{ categorie.description | raw}}</td>
                            <td>
                                <a title="Mettre  jour" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">
                                    <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                </a> - 
                                <a title="Supprimer l'élément" href="{{ path('categorie_show', { 'id': categorie.id }) }}">
                                    <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% set num = num + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% include 'categorie/active.html.twig' %}
{% endblock %}
