{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2>Vous êtes connecté à la catégorie <span style="color:#093983">[{{categorie}}]</span></h2>   
        <h5>Créez et gérez les catégories de collecte qui apparaîtrons sur les pages utilisateurs</h5>
        <p><h5><b><u>Présentation</u> <a class="btn btn-info" href="{{path('categorie_edit', {'id': categorie.id})}}"> <i class="fa fa-edit"></i> Modifier</a></b></h5>{{categorie.description | raw}}</p>
    </div>
{% endblock tete %}

{% block menu %}
    {% include 'partial/menus/menu_admin.html.twig' %} 
{% endblock %}  
{% block body %}

    <div class="col-md-12">
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer la catégorie">
        {{ form_end(delete_form) }}
    </div>

    {% include 'categorie/active.html.twig' %}
{% endblock %}
