{% extends 'home.html.twig' %}
{% block titre %}Modififer ma CNI ou PassPort{% endblock titre %} 

{% block content %}
  <div class=" border-primary mb-3">
    <div class="card-header">
        <h3 class="titre-interne">Modififer ma CNI ou PassPort</h3>
    </div>
    <div class="mt-4">
      <form class="col-md-12" method="POST" enctype="multipart/form-data" action="{{path('user_edit_cni')}}">
        <fieldset class="row">
          <div class="col-12">
            <div class="full field">
              <input type="file" id="userbundle_utilisateur_cni" name="userbundle_utilisateur[cni]" class="form-control" style="background: transparent; color: black;margin-bottom: 15px;">
            </div>
          </div>
        </fieldset>
        <div class="row mt-1">
          <div class="col-md-12 mt-2">
            <button class="btn-perso col-md-12" id="bouton-next" type="submit" name="modifier" class=""><i class="fa fa-edit"></i> Modifier</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
