{% extends 'index.html.twig' %}
{% block titre %}Mon profile{% endblock titre %}
{% block haut %}
{% endblock haut %}

{% block content %}
<div class=" border-primary mb-3">
    <div class="label-perso-2 text-center">
        <h3 class="titre-interne margin_top_10">Mon profile</h3>
    </div>
    
<div class="monDiv">
    <table class="table margin_top_30">
        <tbody>
            <tr>
                <th>Nom complet</th>
                <td>{{utilisateur}}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{utilisateur.telephone}}</td>
            </tr>
            <tr>
                <th>CNI / PassPort</th>
                <td>{% if utilisateur.cni %} <a target="_blank" class="label label-success" href="{{asset('Uploads/cni/')~utilisateur.cni}}">Télécharger</a>{% else %} Aucun fichier{% endif %} 
                    <a class="label label-warning" href="{{path('user_edit_cni')}}">Modifier / upload</a></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{utilisateur.email}}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{utilisateur.adresse}}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{utilisateur.codePostal}}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{utilisateur.pays}}</td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-warning" href="{{path('profil_edit', {'id': utilisateur.id})}}"> <i class="fa fa-edit"></i> Modifier</a>
                </td>
                <td>
                    <a class="btn btn-success" href="{{path('fos_user_change_password')}}">Changer de mot de passe</a>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>

                    <a class="btn btn-danger" href="{{path('homepage')}}">Quitter</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
