{% extends 'home.html.twig' %}
{% block titre %}Créer mon compte{% endblock titre %} 

{% block content %}
  <div class=" border-primary mb-3">
    <div class="card-header">
        <h3 class="titre-interne">Créer votre compte KOBA</h3>
    </div>
    <style type="text/css">
    	label{
    		color: #424fb0;
    		margin-bottom: 0;
    	}
    	a{
    		color: orange;
    		text-transform: none;
    		text-decoration: none;
    	}
    	a:hover{
    		font-weight: initial;
    		color: black;
    	}
    	.error{
    		color: red;
    	}
    </style>
    <div class="col-md-12 content-login">
    	<div class="mt-2 row">
	    	<div class="col-md-12">
	    		<p class="text-center">Une fois inscrit vous pouvez envoyer de l'argent, consulter votre historique, gérer votre réserve des fonds, suivre vos transactions et être informé des mises à jour.</p>
	    		<p style="
    background: #464a99;
    color: white;
    padding:10px;
" class="text-center">Déjà insrit ? <a class="" href="{{path('fos_user_security_login')}}" class="lien">Connectez-vous</a></p>
	    	</div>
	    	<div class="col-12">
	    		{{ form_start(form, {'method': 'post', 'action': path('new_compte_user'), 'attr':{'id':'form-signUp'}})}}

	    		{{ form_errors(form) }}
	    	</div>

	    	{% if csrf_token %}
	            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	        {% endif %}

	    	<div class="col-12">
	            {{ form_label(form.nom, "Nom complet *") }}
	            {{ form_widget(form.nom, {'attr':{'class':'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	            <div class="error">{{ form_errors(form.nom) }}</div>
	        </div>
	    	<div class="col-12">
	            {{ form_label(form.email, "Adresse email * (vous y recevrez des notifs)") }}
	            {{ form_widget(form.email, {'attr':{'class':'form-control','type':'email',  'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	            <div class="error">{{ form_errors(form.email) }}</div>
	        </div>
	    	<div class="col-12">
	            {{ form_label(form.cni, "Votre CNI/Passport") }}
	            {{ form_widget(form.cni, {'attr':{'class':'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	        </div>
	    	<div class="col-6">
	            {{ form_label(form.telephone, "Téléphone *") }}
	            {{ form_widget(form.telephone, {'attr':{'class':'form-control', 'placeholder': '(+..) ..-..-..-..', 'required': 'required', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	            <div class="error">{{ form_errors(form.telephone) }}</div>
	        </div>
	        <div class="col-6">
	            {{ form_label(form.adresse, "Adresse") }}
	            {{ form_widget(form.adresse, {'attr':{'class':'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	        </div>
	        <div class="col-6">
	            {{ form_label(form.codePostal, "Code postal") }}
	            {{ form_widget(form.codePostal, {'attr':{'class':'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	        </div>
	        <div class="col-6">
	            {{ form_label(form.pays, "Pays") }}
	            {{ form_widget(form.pays, {'attr':{'class':'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	        </div>
	        <div class="col-6">
	            {{ form_label(form.plainPassword.first, "Mot de passe *") }}
	            {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	            {{ form_errors(form.plainPassword.first) }}
	        </div>
	        <div class="col-6">
	            {{ form_label(form.plainPassword.second, "Confirmer la saisie *") }}
	            {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control', 'style': 'background: transparent; color: black;margin-bottom: 15px;', 'style': 'background: transparent; color: black;margin-bottom: 15px;'}}) }}
	            {{ form_errors(form.plainPassword.second) }}
	        </div>
	        <div class="col-12">
			     <div class="col-md-12">
			          <label class="pull-left"><input required="" id="not_robot" type="checkbox" name="not_robot"/> {% trans %}Je ne suis pas un robot{% endtrans %} <span style="display: none;" id="number_1"></span></label>
			          <input style="display: none;" class="result" type="number" min="1" max="20" name="result" id="result">
			          <div class="error not-robot-error">Valeur incorrect, réessayez!</div>
			     </div>
			</div>

	    	<div class="col-md-12 mt-3">
	            <button class="btn-perso col-md-12" id="bouton-next" type="submit" class="">Créer mon compte <i class="fa fa-door-open"></i></button>
	      	</div>
	      	{{form_widget(form._token)}}
	      	{{form_end(form)}}
		</div>
    </div>
</div>
<script type="text/javascript">
	
	function loader(){
		number_1 = Math.floor((Math.random() * 10) + 1);
        number_2 = Math.floor((Math.random() * 10) + 1);
        total = number_1 + number_2;
        $('#number_1').html('(<span class="num1">'+number_1.toString() + '</span> + <span class="num2">'+ number_2.toString()+'</span><span class="hide total">'+total+'</span>) = ');
        $('.not-robot-error').addClass('hide');
	};

	$('input[name="not_robot"]').on('click', function () {
		loader();
	    let question = document.getElementById('number_1');
	    let resultInput = document.getElementById('result');
	    if (document.getElementById("not_robot").checked === true){
	        resultInput.style.display = "inline-block";
	        question.style.display = "inline-block";
	        $('#bouton-next').attr('type', 'button');
	        $('#bouton-next').attr('onclick', 'onSubmit()');
	    }else {
	        resultInput.style.display = "none";
	        question.style.display = "none";
	        $('#bouton-next').attr('type', 'submit');
	        $('#bouton-next').attr('onclick', '');
	    }
	});
	loader();

	function onSubmit(){
		if(parseInt($('.num1').text()) + parseInt($('.num2').text()) == parseInt($('.result').val())){
			$('#bouton-next').attr('type', 'submit');
	        $('#bouton-next').attr('onclick', '');
			$('#bouton-next').click();
		}else{
			$('.not-robot-error').removeClass('hide');
		}
	}


</script>
<script src="{{asset('assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js')}}" type="text/javascript"></script>
<script src="{{asset('assets/plugins/autoNumeric/autoNumeric.js')}}" type="text/javascript"></script>
{% endblock content %}