{% extends 'partial/paiement/layout.html.twig' %}

{% block methodPay %}
	<div class="col-md-12">
		<h3 style="font-weight:500;color:white" class="text-center">Total: {{transfert.montant | number_format(2)}} {{transfert.devise}}</h3>
		<center>
			<div class="col-md-12">
				<a style="color: #ec6b2a;" href="{{path('choix_pay_method')}}"><i class="fa fa-edit"></i> Changer de mode de paiement</a>
			</div>
			<embed src="{{url}}" style="width:100%; height: 700px;">
		</center>
	</div>
{% endblock methodPay %}