{% extends 'index.html.twig' %}

{% block haut %}
{% endblock haut %}

{% block content %}
<div class="full row">
	  <div class="label-perso" style="">
    	Recharge de <span class="mont">{{montant}} {{devise}} </span>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 margin_top_30">
    	{% block methodPay %}
        
      {% endblock methodPay %}
		</div>
</div>

{% endblock content%}