{% extends 'partial/recharge/layout.html.twig' %}

{% block methodPay %}
	<script
	    src="https://www.paypal.com/sdk/js?client-id=AdUdf7m4zSCEMd9ezzJOoT6-FT_qwe4s_0xBWIC1HSQV_Bnli7Xl2Lc-ktSSV65GRTdfQwfkiXmcmmPn">
	</script>
	<style type="text/css">
		.billingAddress p{
		    color: white !important;
		}
	</style>
<div class="col-md-12" style="background: #c1c1c19e;">
	<h3 style="font-weight:500;color:white" class="text-center"> </h3>
		<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    {% include 'partial/paypalScript.html.twig' %}

	<script>
	  lienS = "{{path('success_pay_recharge', {'montant':montant})}}";
	  lienE = "{{path('cancel_pay_recharge')}}";
	  var amount = {{montant | number_format(2)}};
	    monPaypal(amount, lienS, lienE);
	</script>

</div>
<br>
<center><a style="color: #ec6b2a;margin-bottom:10px" href="{{path('choix_recharge_method', {'montant':montant})}}"><i class="fa fa-edit"></i> Changer de mode de paiement</a></center>
{% endblock methodPay %}