{% extends 'partial/recharge/layout.html.twig' %}

{% block methodPay %}
	<div class="col-md-12">
		<h3 style="font-weight:500;color:white" class="text-center"> </h3>
		<center>
			<div class="col-md-12">
				<a style="color: #ec6b2a;" href="{{path('choix_recharge_method', {'montant':montant})}}"><i class="fa fa-edit"></i> Changer de moyen de recharge</a>
				<hr>
			</div>
			<form id="formStripe" action="{{path('handle_stripe_recharge', {'montant':montant})}}" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_51IGMjnI2aY5ZKjXZo0ctLkDF2Ia5fx0isIm4dyYW7CGIyhFD9iNsTbRSZjdpuFWCjdxk1enUeAey8aBGLuDXcJO700EFJgj5G0"
			    data-amount="{{montant * 100}}"
			    data-name="{{app.user.nom}}"
			    data-description="Recharge Reserve des fonds"
			    data-image="{{asset('mini-logo.png')}}"
			    data-locale="auto"
			    data-email="{{app.user.email}}"
			    data-currency="{{devise}}"
			    data-label="Procéder à la recharge">
			  </script>
			</form>
		</center>
	</div>
	<script type="text/javascript">
	  	$('.stripe-button-el').click();
	</script>
{% endblock methodPay %}