<!DOCTYPE html>
<html>
<head>
	<title>{% block name %}Mon compte{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="{{asset('admin/assets/css/style.css')}}" rel="stylesheet" />
	<link href="{{asset('admin/assets/css/bootstrap.css')}}" rel="stylesheet" />
	<!-- FONTAWESOME STYLES-->
	<link href="{{asset('admin/assets/css/font-awesome.css')}}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
	{% block body %}
		<div class="form_wrapper">
			<div class="form_container">
				<div class="title_container">
					<a href="{{path('authentification')}}">
						<img class="logo" src="{{asset('admin/assets/img/find_user.png')}}" class="img-responsive"/>
					</a>
					<h2><b>{{app_name}}</b></h2>
					<span style="color:#695e50">Gestion des collectes de Dons, CrowdFundings, contributions et adhésions</span>
				</div>
				<div class="clearfix">
					{{ form_errors(form) }}
					{% if app.request.hasPreviousSession %}
						{% for type, messages in app.session.flashbag.all() %}
							{% for message in messages %}
								<div id="message-fos" class="text-center col-md-12" style="
								color: black;
								font-size: 13.5px;
								background: #8e1e1e;
								padding: 5px;
								color: white;
								font-family: 'Raleway', sans-serif;
								">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
				{% endif %}
				{% if messageCreation is defined and messageCreation is not null %}
					<div id="message-fos" class="text-center col-md-12" style="
					color: black;
					font-size: 13.5px;
					background: #1e8e27;
					padding: 5px;
					color: white;
					font-family: 'Raleway', sans-serif;
					">
					{{ messageCreation }}
				</div>
			{% endif %}
		</div>
		<div class="row clearfix signUp hide">
			<div class="">
				{{ form_start(form, {'method': 'post', 'action': path('authentification'), 'attr': {'class': 'fos_user_registration_register'}}) }}
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
					{{ form_widget(form.nom,{'attr':{'class':'','placeholder':'Votre nom complet', 'required': 'required'}}) }}
				</div>
				<span class="err-form">{{ form_errors(form.nom) }}</span>
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
					{{ form_widget(form.email,{'attr':{'class':'','placeholder':'email', 'required': 'required'}}) }}
				</div>
				<span class="err-form">{{ form_errors(form.email) }}</span>
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
					{{ form_widget(form.plainPassword.first,{'attr':{'class':'','placeholder':'Mot de passe', 'required': 'required'}}) }}
				</div>
				<span class="err-form">{{ form_errors(form.plainPassword.first) }}</span>
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
					{{ form_widget(form.plainPassword.second,{'attr':{'class':'','placeholder':'Re-entrez le mot de passe', 'required': 'required'}}) }}
				</div>
				<span class="err-form">{{ form_errors(form.plainPassword.second) }}</span>
				<div class="input_field radio_option">
					{{ form_widget(form.typeCompte,{'attr':{'required': 'required'}}) }}
				</div>
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
					{{ form_widget(form.adresse,{'attr':{'class':'','placeholder':'Adresse ou ville', 'required': 'required'}}) }}
				</div>
				<div class="input_field checkbox_option">
					<input required="required" type="checkbox" id="cb1">
					<label for="cb1">J'accepte les termes et conditions <a target="_blank" href="/termes-et-conditions">Lire</a></label>
				</div>
				<input class="button" type="submit" value="Créer mon compte" />
				{{ form_end(form) }}
			</div>
			<p class="text-center">Vous avez déjà un compte ? <button class="btn btn-link" onclick="cacheSingnInUp('1')" >Se connecter</button></p>
		</div>
		<div class="row clearfix signIn">
			<div class="">
				<div class="row" style="margin-top:-21px">
					{% if error %}
						<div class="text-center col-md-12" style="
						color: black;
						font-size: 13.5px;
						background: #8e1e1e;
						padding: 5px;
						color: white;
						font-family: 'Raleway', sans-serif;
						">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% elseif messageCreation is defined and messageCreation is null %}
						<div class="text-center col-md-12" style="
						color: black;
						font-size: 13.5px;
						background: #8e1e1e;
						padding: 5px;
						color: white;
						font-family: 'Raleway', sans-serif;
						">Vous devez vous connecter pour accéder à la page précédente</div>
					{% endif %}
				</div>
				<form class="" action="{{ path("fos_user_security_check") }}" style="" method="post">
					{% if csrf_token %}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					{% endif %}
					{% if error %}
						<div class="text-center" style="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
						<input type="email" id="username" name="_username" placeholder="Votre email" required />
					</div>
					<div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
						<input type="password" id="password" name="_password" placeholder="Mot de passe" required />
					</div>
					<div class="input_field checkbox_option text-center">
						<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
						<label style="" for="remember_me">Rester connecté ?</label> <a style="color: orange;" href="{{path('fos_user_resetting_request')}}"> Mot de passe oublié ?</a>
					</div>
					<button class="button btn-submit" id="_submit" name="_submit" type="submit" value="{{ 'security.login.submit'|trans }}">Se connecter</button>
				</form>
			</div>
			<p class="text-center"></p>
			<p class="text-center">Vous n'avez pas de compte ? <button class="btn btn-link" onclick="cacheSingnInUp('2')">Créer un compte</button></p>
		</div>
	</div>
</div>
{% endblock body %}

<p class="credit">Développé par <a href="http://www.groupethemis.com" target="_blank">Le Groupe Themis-iT</a></p>
</body>
<script src="{{asset('admin/assets/js/jquery-1.10.2.js')}}"></script>
<script type="text/javascript">
function cacheSingnInUp(arg) {
	if(arg == '1'){
		$('.signUp').hide("slow");
		$('.signIn').show("slow");
	}else{
		$('.signUp').show("slow");
		$('.signUp').removeClass("hide");
		$('.signIn').hide("slow");
	}
}
{% if compte is defined and compte == 'oui' %}
cacheSingnInUp('2');
{% endif %}
</script>
<script src="{{asset('admin/assets/js/bootstrap.min.js')}}"></script>
</html>