{% extends 'home.html.twig' %}

{% block tete %}
    <div class="col-md-12">
        <h2 class="text-center">Bienvenue sur la plateforme de collecte et campagnes ! <img height="200" src="https://i.pinimg.com/originals/d3/a7/16/d3a71682e44769c11fdf2f7a9e64f7d0.jpg" class="img"> <br><small>C'est votre première fois, <i>pas de panique !</i> nous allons y aller ensemble!</small></h2>   
        <h4><u>Prise en main</u></h4>
        <p>Ici, vos projets / associations sont considérés comme étant des applications. Lorsque vous avez plusieurs applications, vous pouvez les visualiser et les éditer via le menu "<a href="{{path('application_index')}}">Application / Associations</a>" du tableau de bord à gauche.</p>
        <h4><u>Allons-y pas à pas !</u></h4>
        <ol>
            <li>Ajouter votre application <a href="{{path('application_new')}}">Je me lance !</a></li>
            <li>Créer votre première campagne</li>
            <li>Préciser le type de campagne (Adhésion / collecte de fonds)</li>
            <li>Associer  votre campagne un formulaire</li>
            <li>Personnaliser votre formulaire</li>
            <li>Partagez votre formulaire ou intégrez-le à votre site web!</li>
        </ol>
        <h4 class="text-center"><img src="">N'attentdez-plus créez votre première application et lancez votre campagne</h4>
    </div>
{% endblock tete %}

{% block body %}
<div class="col-md-12">
    <a href="{{path('application_new')}}" class="btn btn-link"> <i class="fa fa-plus-circle"></i> Ajouter une application</a>
</div>
<hr>
<div class="panel-body">
    <div class="table-responsive">
    
    </div>
</div>
{% endblock %}
